Repository canalplus/rx-player, pull requests merged in 2018-03, with the labels that each got.

#177 Feat/DirectFile API
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/controllers/PlayerKnobs.jsx
  demo/full/scripts/controllers/knobs/AudioBitrate.jsx
  demo/full/scripts/controllers/knobs/AudioTrack.jsx
  demo/full/scripts/controllers/knobs/VideoBitrate.jsx
  demo/full/scripts/modules/player/events.js
  doc/api/index.md
  doc/api/loadVideo_options.md
  doc/api/player_events.md
  doc/api/player_options.md
  src/compat/eme/MediaKeys.ts
  src/compat/index.ts
  src/core/api/index.ts
  src/core/stream/create_media_source.ts
  src/core/stream/directfile.ts
  src/core/stream/index.ts
  src/core/stream/video_events.ts
  src/net/directfile/index.ts
  src/net/index.ts
Labels: API, DirectFile

#162 feat: Support consecutive playback of content with DRM
  src/core/eme/index.ts
  src/core/eme/key_system.ts
  src/core/eme/server_certificate.ts
Labels: EME

#181 doc: documentation update for v3.3.0
  README.md
  doc/api/custom_builds.md
  doc/api/errors.md
  doc/api/images.md
  doc/api/index.md
  doc/api/loadVideo_options.md
  doc/api/manifest.md
  doc/api/player_events.md
  doc/api/player_options.md
  doc/api/plugins.md
  doc/api/text_tracks.md
  doc/architecture/buffer/representation_buffer.md
  doc/architecture/files.md
  doc/architecture/stream/buffer_garbage_collector.md
  doc/architecture/stream/buffer_handler.md
  doc/architecture/stream/index.md
  doc/architecture/stream/segment_bookkeeper.md
  doc/architecture/stream/speed_manager.md
  doc/v2_to_v3.md
  doc/why_typescript.md
Labels: tools

#184 fix/manifest: use ponyfills instead of Array.prototype.find for IE11
  src/manifest/index.ts
Labels: bug

#191 tools: fix environment variables problem on windows
  package-lock.json
  package.json
Labels: tools

#188 fix/buffer: emit full-buffer event even in the case a customBuffer crashes
  src/core/stream/buffers_handler.ts
Labels: buffer, bug
