Repository canalplus/rx-player, pull requests merged in 2018-11, with the labels that each got.

#363 Feat/favicon
  demo/full/index.html
  demo/full/plus.ico
  scripts/update_gh-pages_demo
Labels: Demo

#362 smooth: fix first time reference calculation
  src/parsers/manifest/smooth/index.ts
Labels: Smooth, bug

#381 Avoid modifying MediaKeys prototype
  src/compat/constants.ts
  src/compat/eme/MediaKeys.ts
  src/compat/index.ts
  src/core/eme/find_key_system.ts
  src/net/smooth/mp4.ts
Labels: Compatibility, EME, bug, in-review

#396 Remove duplicates from available video and audio bitrates.
  src/core/api/index.ts
  src/manifest/adaptation.ts
  src/utils/uniq.ts
Labels: API, Code, bug

#402 Misc/import pinkie promise
  package-lock.json
  package.json
  src/compat/eme/MediaKeys.ts
  src/compat/eme/keySystemAccess.ts
  src/experimental/tools/mediaCapabilitiesProber/api/index.ts
  src/experimental/tools/mediaCapabilitiesProber/api/probeMediaConfiguration.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/DRMInfos/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/HDCPPolicy/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/decodingInfos/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/mediaContentType/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/mediaContentTypeWithFeatures/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/mediaDisplayInfos/index.ts
  src/typings/pinkie.d.ts
  src/utils/promise.ts
  tslint.json
Labels: Compatibility, work-in-progress

#405 misc: use substring instead of substr
  src/parsers/manifest/dash/node_parsers/index.ts
  src/parsers/manifest/smooth/get_codecs.ts
  src/parsers/texttracks/ttml/style.ts
  src/utils/__tests__/starts-with.test.ts
  src/utils/bytes.ts
  src/utils/starts-with.ts
  src/utils/url.ts
  tslint.json
Labels: Code, in-review
