Repository canalplus/rx-player, pull requests merged in 2018-05, with the labels that each got.

#187 feat: playback of content with several licences
  src/compat/eme/setMediaKeys.ts
  src/config.ts
  src/core/eme/attach_media_keys.ts
  src/core/eme/create_session.ts
  src/core/eme/dispose_media_keys.ts
  src/core/eme/find_key_system.ts
  src/core/eme/generate_key_request.ts
  src/core/eme/get_media_keys.ts
  src/core/eme/globals.ts
  src/core/eme/handle_encrypted_event.ts
  src/core/eme/handle_session_events.ts
  src/core/eme/index.ts
  src/core/eme/media_keys_infos_store.ts
  src/core/eme/session.ts
  src/core/eme/sessions_set/abstract.ts
  src/core/eme/sessions_set/hash_init_data.ts
  src/core/eme/sessions_set/in_memory.ts
  src/core/eme/sessions_set/index.ts
  src/core/eme/set_media_keys.ts
  src/core/eme/set_server_certificate.ts
  src/core/eme/types.ts
  src/core/eme/utils/hash_buffer.ts
  src/core/eme/utils/init_data_store.ts
  src/core/eme/utils/is_session_usable.ts
  src/core/eme/utils/open_sessions_store.ts
  src/core/eme/utils/persisted_session_store.ts
  src/core/stream/directfile.ts
  src/core/stream/index.ts
  src/core/stream/stream_events.ts
  src/index.ts
  tests/integration/karma.conf.js
  tests/karma.conf.js
  tests/unit/karma.conf.js
Labels: EME, enhancement, work-in-progress

#223 EME: fix IE11 issues with multiple licenses
  src/compat/eme/get_init_data.ts
  src/compat/eme/index.ts
  src/compat/index.ts
  src/core/eme/create_session.ts
  src/core/eme/generate_key_request.ts
  src/core/eme/handle_encrypted_event.ts
  src/core/eme/types.ts
  src/core/eme/utils/init_data_store.ts
  src/core/eme/utils/open_sessions_store.ts
  src/core/eme/utils/persisted_session_store.ts
  src/utils/hash_buffer.ts
Labels: EME, bug, work-in-progress

#224 misc: move some dependencies from "dependencies" to "devDependencies"
  package-lock.json
  package.json
Labels: Code, tools

#232 net: use redirected URL as base for redirected manifest requests
  src/net/dash/index.ts
  src/net/smooth/index.ts
Labels: DASH, Smooth, bug

#233 Fix/empty-lines-in-cues implementation 2
  src/parsers/texttracks/srt/__tests__/findEndOfCueBlock.test.ts
  src/parsers/texttracks/srt/findEndOfCueBlock.ts
  src/parsers/texttracks/srt/html.ts
  src/parsers/texttracks/srt/native.ts
  src/parsers/texttracks/webvtt/__tests__/utils.test.ts
  src/parsers/texttracks/webvtt/html/__tests__/utils.test.ts
  src/parsers/texttracks/webvtt/html/index.ts
  src/parsers/texttracks/webvtt/html/utils.ts
  src/parsers/texttracks/webvtt/native.ts
  src/parsers/texttracks/webvtt/utils.ts
Labels: bug, languages
