Repository canalplus/rx-player, pull requests merged in 2018-08, with the labels that each got.

#268 Fix/presentationTimeOffset management
  demo/full/scripts/contents.js
  doc/architecture/index.md
  doc/architecture/net/index.md
  doc/generated/list.html
  doc/generated/pages/architecture/index.html
  doc/generated/pages/architecture/net/index.html
  doc/generated/pages/infos/dash/presentationTimeOffset.html
  doc/infos/dash/presentationTimeOffset.md
  src/core/buffer/append_data.ts
  src/core/buffer/get_segment_priority.ts
  src/core/buffer/get_wanted_range.ts
  src/core/buffer/representation_buffer.ts
  src/core/pipelines/segment/segment_fetcher.ts
  src/core/source_buffers/abstract_source_buffer.ts
  src/core/source_buffers/image/index.ts
  src/core/source_buffers/queued_source_buffer.ts
  src/core/source_buffers/text/html/index.ts
  src/core/source_buffers/text/html/parsers.ts
  src/core/source_buffers/text/native/index.ts
  src/core/source_buffers/text/native/parsers.ts
  src/core/stream/buffers_handler.ts
  src/core/stream/clock.ts
  src/features/types.ts
  src/manifest/representation_index/interfaces.ts
  src/net/dash/index.ts
  src/net/dash/isobmff_timing_infos.ts
  src/net/dash/texttracks.ts
  src/net/smooth/index.ts
  src/net/types.ts
  src/parsers/manifest/dash/indexes/base.ts
  src/parsers/manifest/dash/indexes/helpers.ts
  src/parsers/manifest/dash/indexes/list.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/indexes/timeline.ts
  src/parsers/manifest/dash/node_parsers/index.ts
  tests/integration/scenarios/initial_playback.js
Labels: DASH, Network, buffer, work-in-progress

#274 mcp: replace find with arrayFind
  src/experimental/tools/mediaCapabilitiesProber/capabilities.ts
Labels: bug, tools

#296 build: update script to export types compatible with project references
  scripts/generate_builds
Labels: enhancement, tools
