Repository canalplus/rx-player, pull requests merged in 2018-02, with the labels that each got.

#167 eme: allows the keySystems to be set for unencrypted content even whe…
  src/compat/eme/MediaKeys.ts
  src/compat/index.ts
  src/core/eme/index.ts
  src/core/eme/key_system.ts
  src/typings/browser.d.ts
Labels: API, EME

#172 net/dash: do not set availabilityStartTime or availabilityEndTime on …
  src/net/dash/manifest/node_parsers/index.ts
Labels: DASH, bug

#173 faet: add manifest loader
  doc/api/loadVideo_options.md
  doc/api/plugins.md
  src/core/pipelines/create_manifest_pipeline.ts
  src/core/pipelines/segment_pipeline_manager.ts
  src/core/stream/index.ts
  src/net/dash/index.ts
  src/net/dash/texttracks.ts
  src/net/smooth/index.ts
  src/net/smooth/types.ts
  src/net/types.ts
  src/net/utils/manifest_loader.ts
Labels: API, enhancement

#169 misc: clean-up code for future evolutions
  src/compat/index.ts
  src/core/api/index.ts
  src/core/stream/clock.ts
  src/core/stream/index.ts
  src/core/stream/stalling_manager.ts
  src/core/stream/stream_events.ts
  src/core/stream/video_events.ts
Labels: Code

#168 Misc/typescript 2.7.2
  package-lock.json
  package.json
  src/compat/eme/MediaKeys.ts
  src/compat/eme/index.ts
  src/compat/eme/keySystemAccess.ts
  src/compat/events.ts
  src/compat/index.ts
  src/core/abr/representation_chooser.ts
  src/core/api/index.ts
  src/core/eme/index.ts
  src/core/eme/key_system.ts
  src/core/eme/server_certificate.ts
  src/core/eme/session.ts
  src/core/eme/sessions_set/in_memory.ts
  src/core/eme/sessions_set/persisted.ts
  src/core/eme/set_media_keys.ts
  src/core/pipelines/pipeline.ts
  src/core/source_buffers/abstract_source_buffer.ts
  src/core/stream/buffers_handler.ts
  src/core/stream/index.ts
  src/core/stream/stream_events.ts
  src/net/dash/texttracks.ts
  src/net/smooth/mp4.ts
  src/parsers/containers/isobmff/index.ts
  src/parsers/containers/isobmff/read.ts
  src/typings/browser.d.ts
  src/utils/__tests__/array-includes.test.ts
  src/utils/__tests__/starts-with.test.ts
  src/utils/array-includes.ts
  src/utils/eventemitter.ts
  src/utils/rx-onEvent.ts
  src/utils/rx-tryCatch.ts
  src/utils/starts-with.ts
  tslint.json
Labels: EME, tools
