Repository canalplus/rx-player, pull requests merged in 2018-10, with the labels that each got.

#321 Demo/https mode
  .gitignore
  demo/full/index.html
  demo/full/server.js
  package-lock.json
  package.json
  scripts/generate_certificate
Labels: Demo

#329 compat/typescript: fix typing of ICompatVTTCue
  src/compat/constants.ts
Labels: bug, typescript

#327 buffer: warn when the current wanted position is before or after the …
  doc/api/errors.md
  src/core/buffer/period_buffer_manager.ts
  src/errors/constants.ts
Labels: API, buffer, enhancement

#328 buffer: set maximum buffer sizes for custom source buffers
  src/config.ts
  src/core/buffer/period_buffer_manager.ts
  src/core/source_buffers/index.ts
  src/core/source_buffers/queued_source_buffer.ts
  src/utils/weak_map_memory.ts
Labels: buffer

#324 Feat/representation switch modes
  demo/full/scripts/controllers/ControlBar.jsx
  demo/full/scripts/controllers/ProgressBar.jsx
  demo/full/scripts/modules/player/index.js
  doc/api/loadVideo_options.md
  doc/api/states.md
  src/config.ts
  src/core/abr/index.ts
  src/core/abr/representation_chooser.ts
  src/core/api/index.ts
  src/core/api/option_parsers.ts
  src/core/buffer/adaptation_buffer.ts
  src/core/buffer/period_buffer_manager.ts
  src/core/buffer/types.ts
  src/core/stream/index.ts
  src/core/stream/stream_loader.ts
Labels: ABR, API, buffer, enhancement

#317 Custom Representation Filter
  doc/api/loadVideo_options.md
  doc/api/plugins.md
  src/core/api/index.ts
  src/core/api/option_parsers.ts
  src/core/pipelines/index.ts
  src/core/pipelines/manifest/index.ts
  src/core/stream/index.ts
  src/manifest/adaptation.ts
  src/manifest/factory.ts
  src/manifest/index.ts
  src/manifest/period.ts
  tests/integration/scenarios/loadVideo_options.js
  tests/integration/utils/launch_tests_for_content.js
Labels: API, DASH, Smooth, enhancement

#335 abr: use performance.now instead of Date.now for better precision
  src/core/abr/representation_chooser.ts
  src/core/api/clock.ts
  src/core/pipelines/segment/segment_fetcher.ts
  src/utils/request/index.ts
Labels: ABR, enhancement

#334 eme: avoid re-attaching a server certificate at each encrypted event
  src/core/eme/index.ts
Labels: EME, bug

#346 Feat/abr switch without cancelling
  src/core/abr/representation_chooser.ts
  src/core/buffer/adaptation_buffer.ts
  src/core/buffer/representation_buffer.ts
Labels: ABR, buffer, enhancement

#354 buffer: fix possibility to cancel the last request after a signal of …
  src/core/buffer/representation_buffer.ts
Labels: buffer, bug

#350 codec-switching with sourceBuffer.changeType
  src/compat/index.ts
  src/core/buffer/append_data.ts
  src/core/buffer/representation_buffer.ts
  src/core/source_buffers/abstract_source_buffer.ts
  src/core/source_buffers/index.ts
  src/core/source_buffers/queued_source_buffer.ts
  src/core/source_buffers/text/native/index.ts
  src/features/types.ts
Labels: buffer, enhancement

#352 source-buffers: write a cleaner ImageSourceBuffer implementation
  src/config.ts
  src/core/source_buffers/image/index.ts
Labels: buffer, bug

#347 Consider minimum update period to refresh manifest (Simpler alternative)
  doc/api/plugins.md
  doc/generated/pages/api/plugins.html
  src/core/pipelines/create_loader.ts
  src/core/pipelines/index.ts
  src/core/pipelines/manifest/index.ts
  src/core/stream/events_generators.ts
  src/core/stream/index.ts
  src/core/stream/on_live_buffer_event.ts
  src/core/stream/stream_loader.ts
  src/core/stream/types.ts
  src/manifest/index.ts
  src/net/types.ts
  src/parsers/manifest/dash/node_parsers/index.ts
  src/parsers/manifest/types.ts
  src/utils/request/index.ts
  tests/integration/scenarios/loadVideo_options.js
Labels: DASH, enhancement
