Repository canalplus/rx-player, pull requests merged in 2018-06, with the labels that each got.

#239 misc: update typescript to v2.9.1
  package-lock.json
  package.json
Labels: Code, tools

#237 moved segments URL into "media" attribute
  src/manifest/index.ts
  src/manifest/period.ts
  src/manifest/representation.ts
  src/manifest/representation_index/interfaces.ts
  src/manifest/representation_index/static.ts
  src/net/dash/index.ts
  src/net/dash/segment_loader.ts
  src/net/dash/texttracks.ts
  src/net/dash/utils.ts
  src/net/smooth/index.ts
  src/net/smooth/segment_loader.ts
  src/net/smooth/utils.ts
  src/net/types.ts
  src/parsers/manifest/dash/helpers.ts
  src/parsers/manifest/dash/indexes/base.ts
  src/parsers/manifest/dash/indexes/helpers.ts
  src/parsers/manifest/dash/indexes/list.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/indexes/timeline.ts
  src/parsers/manifest/dash/node_parsers/S.ts
  src/parsers/manifest/dash/node_parsers/SegmentBase.ts
  src/parsers/manifest/dash/node_parsers/SegmentTimeline.ts
  src/parsers/manifest/dash/node_parsers/index.ts
  src/parsers/manifest/smooth/helpers.ts
  src/parsers/manifest/smooth/index.ts
  src/parsers/manifest/smooth/representationIndex.ts
  src/parsers/manifest/types.ts
  tests/integration/scenarios/dash_live.js
  tests/integration/scenarios/dash_static.js
Labels: Code, DASH, Network, Smooth

#252 Demo/fullscreen
  demo/full/scripts/components/ImageTip.jsx
  demo/full/scripts/components/TimeIndicator.jsx
  demo/full/scripts/controllers/ControlBar.jsx
  demo/full/scripts/controllers/FullScreenButton.jsx
  demo/full/scripts/controllers/Player.jsx
  demo/full/scripts/controllers/ProgressBar.jsx
  demo/full/scripts/modules/player/events.js
  demo/full/scripts/modules/player/index.js
  demo/full/styles/style.css
Labels: Demo
