Repository canalplus/rx-player, pull requests merged in 2019-11, with the labels that each got.

#634 demo: add buffer content graphs in the demo page
  demo/full/scripts/components/BufferContentGraph.jsx
  demo/full/scripts/components/FocusedInput.jsx
  demo/full/scripts/components/ImageTip.jsx
  demo/full/scripts/components/TimeIndicator.jsx
  demo/full/scripts/components/ToolTip.jsx
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/controllers/ProgressBar.jsx
  demo/full/scripts/controllers/charts/BufferContent.jsx
  demo/full/scripts/controllers/charts/index.jsx
  demo/full/scripts/lib/capitalizeFirstLetter.js
  demo/full/scripts/lib/shuffleArray.js
  demo/full/scripts/modules/player/events.js
  demo/full/scripts/modules/player/index.js
  demo/full/styles/style.css
  src/core/api/public_api.ts
  src/core/init/events_generators.ts
  src/core/init/initialize_directfile.ts
  src/core/init/load_on_media_source.ts
  src/core/init/types.ts
Labels: Demo

#633 Take into account aggressive mode when return last pos in template index
  src/parsers/manifest/dash/indexes/template.ts
Labels: DASH, bug

#630 Removed exports.ts as webpack can make a library from an ES default export
  scripts/generate_full_demo.js
  scripts/generate_standalone_demo.js
  src/exports.ts
  webpack.config.js
Labels: code

#635 Demo/accessibility improvements
  demo/full/index.html
  demo/full/scripts/components/BufferContentGraph.jsx
  demo/full/scripts/components/Button.jsx
  demo/full/scripts/components/FocusedInput.jsx
  demo/full/scripts/components/GenerateLinkButton.jsx
  demo/full/scripts/components/Input.jsx
  demo/full/scripts/components/Knob.jsx
  demo/full/scripts/components/Select.jsx
  demo/full/scripts/components/StickToLiveEdgeButton.jsx
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/controllers/ControlBar.jsx
  demo/full/scripts/controllers/FullScreenButton.jsx
  demo/full/scripts/controllers/LogDisplayer.jsx
  demo/full/scripts/controllers/Main.jsx
  demo/full/scripts/controllers/PlayPauseButton.jsx
  demo/full/scripts/controllers/ProgressBar.jsx
  demo/full/scripts/controllers/SettingsButton.jsx
  demo/full/scripts/controllers/VolumeButton.jsx
  demo/full/scripts/controllers/charts/Bandwidth.jsx
  demo/full/scripts/controllers/charts/index.jsx
  demo/full/scripts/controllers/knobs/AudioBitrate.jsx
  demo/full/scripts/controllers/knobs/AudioTrack.jsx
  demo/full/scripts/controllers/knobs/SpeedKnob.jsx
  demo/full/scripts/controllers/knobs/Subtitles.jsx
  demo/full/scripts/controllers/knobs/VideoBitrate.jsx
  demo/full/scripts/controllers/knobs/VideoTrack.jsx
  demo/full/styles/style.css
Labels: Demo

#626 Added timeout when closing session
  src/compat/eme/close_session.ts
  src/core/eme/utils/open_sessions_store.ts
  src/core/init/load_on_media_source.ts
Labels: EME, bug
