Repository canalplus/rx-player, pull requests merged in 2019-01, with the labels that each got.

#438 manifest: fix update mechanism due to inversion of arguments
  src/manifest/manifest.ts
Labels: DASH, Smooth, bug

#450 Fixed getCuesBefore
  src/core/source_buffers/text/html/__test__/utils.test.ts
  src/core/source_buffers/text/html/buffer_manager.ts
  src/core/source_buffers/text/html/types.ts
  src/core/source_buffers/text/html/utils.ts
Labels: Subtitles, bug, in-review

#452 Create and add standard vtt style elements.
  src/parsers/texttracks/webvtt/__tests__/create_default_style_elements.test.ts
  src/parsers/texttracks/webvtt/html/create_default_style_elements.ts
  src/parsers/texttracks/webvtt/html/parse_webvtt_to_div.ts
Labels: Subtitles, WebVTT, bug, in-review

#445 tests/dash: add tests for dash node-parsers
  src/core/api/public_api.ts
  src/core/eme/utils/persisted_session_store.ts
  src/parsers/manifest/dash/node_parsers/ContentComponent.ts
  src/parsers/manifest/dash/node_parsers/ContentProtection.ts
  src/parsers/manifest/dash/node_parsers/Initialization.ts
  src/parsers/manifest/dash/node_parsers/S.ts
  src/parsers/manifest/dash/node_parsers/SegmentTimeline.ts
  src/parsers/manifest/dash/node_parsers/__tests__/AdaptationSet.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/ContentComponent.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/ContentProtection.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/Initialization.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/S.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/SegmentTimeline.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/SegmentURL.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/utils.test.ts
  src/parsers/manifest/dash/node_parsers/utils.ts
  src/parsers/manifest/dash/parse_representations.ts
  src/transports/smooth/mp4_utils.ts
Labels: DASH, tests, work-in-progress

#457 manifest: fix getMinimumPosition for MPDs with a set availabilityStar…
  src/manifest/manifest.ts
Labels: API, DASH, bug, in-review

#454 parsers/isobmff: fix duration calculation from trun
  src/parsers/containers/isobmff/utils.ts
Labels: ISOBMFF, bug, in-review

#451 MediaCapabilitiesProber unit tests
  src/experimental/tools/mediaCapabilitiesProber/__tests__/capabilities.test.ts
  src/experimental/tools/mediaCapabilitiesProber/__tests__/probers/DRMInfos.test.ts
  src/experimental/tools/mediaCapabilitiesProber/__tests__/probers/HDCPPolicy.test.ts
  src/experimental/tools/mediaCapabilitiesProber/__tests__/probers/decodingInfos.test.ts
  src/experimental/tools/mediaCapabilitiesProber/__tests__/probers/defaultCodecFinder.test.ts
  src/experimental/tools/mediaCapabilitiesProber/__tests__/probers/mediaContentType.test.ts
  src/experimental/tools/mediaCapabilitiesProber/__tests__/probers/mediaDisplayInfos.test.ts
  src/experimental/tools/mediaCapabilitiesProber/__tests__/utils.test.ts
  src/experimental/tools/mediaCapabilitiesProber/capabilities.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/DRMInfos.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/HDCPPolicy.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/decodingInfo.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/mediaContentType.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/mediaDisplayInfos.ts
  src/experimental/tools/mediaCapabilitiesProber/types.ts
  src/experimental/tools/mediaCapabilitiesProber/utils.ts
Labels: tests, tools

#456 Smooth: fix segment patching when tfrf/tfxd are before a trun box
  src/parsers/containers/isobmff/index.ts
  src/parsers/containers/isobmff/read.ts
  src/parsers/containers/isobmff/utils.ts
  src/transports/smooth/extract_timings_infos.ts
  src/transports/smooth/mp4_utils.ts
  src/transports/smooth/pipelines.ts
Labels: ISOBMFF, Smooth, bug, in-review
