Repository canalplus/rx-player, pull requests merged in 2019-12, with the labels that each got.

#639 Availability time offset support
  src/parsers/manifest/dash/get_rep_availability_time_offset.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/node_parsers/AdaptationSet.ts
  src/parsers/manifest/dash/node_parsers/BaseURL.ts
  src/parsers/manifest/dash/node_parsers/MPD.ts
  src/parsers/manifest/dash/node_parsers/Period.ts
  src/parsers/manifest/dash/node_parsers/Representation.ts
  src/parsers/manifest/dash/node_parsers/SegmentTemplate.ts
  src/parsers/manifest/dash/node_parsers/__tests__/AdaptationSet.test.ts
  src/parsers/manifest/dash/parse_adaptation_sets.ts
  src/parsers/manifest/dash/parse_mpd.ts
  src/parsers/manifest/dash/parse_periods.ts
  src/parsers/manifest/dash/parse_representations.ts
  src/transports/dash/manifest_parser.ts
Labels: DASH, enhancement, low-latency

#641 dash/parsers: do not parse trickmode tracks for the moment
  src/parsers/manifest/dash/node_parsers/AdaptationSet.ts
  src/parsers/manifest/dash/parse_adaptation_sets.ts
Labels: DASH, bug

#645 Fixed bug in update periods logic
  src/manifest/__tests__/update_periods.test.ts
  src/manifest/update_periods.ts
Labels: DASH, bug

#651 demo: add a play button on the video player when autoplay is blocked due to browser policies
  demo/full/assets/play.svg
  demo/full/scripts/controllers/Player.jsx
  demo/full/scripts/modules/player/events.js
  demo/full/scripts/modules/player/index.js
  demo/full/styles/style.css
Labels: Compatibility, Demo

#650 compat: set "LOADED" state even when not really loaded on Safari Mobile as those targets do not preload contents
  src/compat/__tests__/should_wait_for_data_before_loaded.test.ts
  src/compat/browser_detection.ts
  src/compat/index.ts
  src/compat/should_wait_for_data_before_loaded.ts
  src/core/init/initial_seek_and_play.ts
  src/core/init/initialize_directfile.ts
  src/core/init/load_on_media_source.ts
Labels: Compatibility, bug

#646 demo: add an "Other" drm choice to specify a custom key system
  demo/full/scripts/components/GenerateLinkURL.jsx
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/lib/parseDRMConfigurations.js
  demo/full/scripts/lib/url_hash.js
Labels: Demo

#648 Fix text track garbage collection / re-insertion (when manual GC is enabled)
  src/custom_source_buffers/text/html/__tests__/utils.test.ts
  src/custom_source_buffers/text/html/buffer_manager.ts
  src/custom_source_buffers/text/html/html_text_source_buffer.ts
  src/custom_source_buffers/text/html/utils.ts
  tests/integration/utils/launch_tests_for_content.js
Labels: Subtitles, bug
