Repository canalplus/rx-player, pull requests merged in 2019-09, with the labels that each got.

#588 Aggressive mode now also checks if the segment technically began
  src/parsers/manifest/smooth/representation_index.ts
Labels: Smooth, bug

#583 dash: infer minimum and maximum time even for a static MPD
  src/parsers/manifest/dash/parse_mpd.ts
Labels: DASH, bug

#589 Misc/pre commit hook
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
Labels: enhancement, script

#584 Get period end from next period before parsing period content
  src/parsers/manifest/dash/__tests__/get_periods_time_infos.test.ts
  src/parsers/manifest/dash/get_periods_time_infos.ts
  src/parsers/manifest/dash/parse_periods.ts
Labels: DASH, enhancement

#585 Take into account last position when deciding if buffer is full
  src/core/buffers/representation/representation_buffer.ts
  src/manifest/__tests__/adaptation.test.ts
  src/manifest/__tests__/representation.test.ts
  src/manifest/representation_index/static.ts
  src/manifest/representation_index/types.ts
  src/parsers/manifest/dash/indexes/base.ts
  src/parsers/manifest/dash/indexes/list.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/indexes/timeline.ts
  src/parsers/manifest/smooth/representation_index.ts
  src/utils/__tests__/initialization_segment_cache.test.ts
Labels: DASH, bug

#586 Maximum position is now last period's last position (which is now correclty computed)
  src/manifest/representation_index/types.ts
  src/parsers/manifest/dash/__tests__/get_first_time_from_adaptations.test.ts
  src/parsers/manifest/dash/__tests__/get_last_time_from_adaptation.test.ts
  src/parsers/manifest/dash/get_first_time_from_adaptation.ts
  src/parsers/manifest/dash/get_last_time_from_adaptation.ts
  src/parsers/manifest/dash/get_last_time_reference.ts
  src/parsers/manifest/dash/get_maximum_position.ts
  src/parsers/manifest/dash/get_minimum_and_maximum_positions.ts
  src/parsers/manifest/dash/get_minimum_position.ts
  src/parsers/manifest/dash/indexes/base.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/indexes/timeline.ts
  src/parsers/manifest/dash/parse_mpd.ts
  src/parsers/manifest/smooth/representation_index.ts
  tests/contents/DASH_dynamic_SegmentTemplate_Multi_Periods/index.js
  tests/contents/DASH_dynamic_SegmentTemplate_Multi_Periods/infos.js
  tests/contents/DASH_dynamic_SegmentTemplate_Multi_Periods/media/Manifest.mpd
  tests/contents/DASH_dynamic_SegmentTemplate_Multi_Periods/urls.js
  tests/contents/urls.js
  tests/integration/scenarios/dash_live.js
  tests/integration/scenarios/dash_live_multi_periods.js
Labels: DASH, bug

#593 Various code smell fixes
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/controllers/FullScreenButton.jsx
  demo/full/scripts/controllers/ProgressBar.jsx
  demo/full/scripts/lib/localStorage.js
  demo/full/scripts/lib/vespertine.js
  src/core/eme/check_key_statuses.ts
  tests/contents/server.js
  tests/integration/utils/launch_tests_for_content.js
Labels: code

#604 Fix/track manager and reload
  src/core/api/track_manager.ts
  src/core/init/initialize_media_source.ts
Labels: API, bug, init

#600 Fix/use xlink received time
  src/parsers/manifest/dash/get_periods_time_infos.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/indexes/timeline.ts
  src/parsers/manifest/dash/parse_adaptation_sets.ts
  src/parsers/manifest/dash/parse_mpd.ts
  src/parsers/manifest/dash/parse_periods.ts
  src/parsers/manifest/dash/parse_representations.ts
  src/transports/dash/manifest_parser.ts
Labels: DASH, enhancement

#605 api: throw a better error when an invalid `preferredAudioTracks` or `…
  doc/api/player_options.md
  src/core/api/option_parsers.ts
  src/core/api/public_api.ts
Labels: API, enhancement

#596 Better period replacement logic
  src/manifest/__tests__/manifest.test.ts
  src/manifest/__tests__/update_period_in_place.test.ts
  src/manifest/manifest.ts
  src/manifest/update_period_in_place.ts
  src/manifest/update_periods.ts
Labels: DASH, bug

#603 Demo/content link
  demo/full/scripts/components/GenerateLinkButton.jsx
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/lib/url_hash.js
  demo/full/styles/style.css
  tests/integration/utils/launch_tests_for_content.js
Labels: Demo
