Repository canalplus/rx-player, pull requests merged in 2019-06, with the labels that each got.

#552 clock: re-write clock as a composed observable
  src/core/api/clock.ts
Labels: Refacto, to validate

#555 init: load live contents that just began at their minimum position
  src/core/init/get_initial_time.ts
Labels: init

#553 Buffer goal ratio
  src/core/buffers/adaptation/adaptation_buffer.ts
  src/core/buffers/buffer_orchestrator.ts
  src/core/buffers/period/period_buffer.ts
  src/core/buffers/representation/append_data.ts
  src/core/buffers/representation/representation_buffer.ts
  src/core/init/initialize_media_source.ts
  src/core/init/load_on_media_source.ts
Labels: buffer, enhancement

#554 dash/smooth: consider no `timeShiftBufferDepth` for DASH and no `DVRWindowLength` (or equal to 0) in Smooth as an infinite dvr window
  src/parsers/manifest/dash/__tests__/get_minimum_time.test.ts
  src/parsers/manifest/dash/__tests__/get_time_limits.test.ts
  src/parsers/manifest/dash/get_minimum_time.ts
  src/parsers/manifest/dash/get_time_limits.ts
  src/parsers/manifest/dash/node_parsers/SegmentBase.ts
  src/parsers/manifest/dash/node_parsers/SegmentTemplate.ts
  src/parsers/manifest/smooth/create_parser.ts
  tests/contents/DASH_dynamic_SegmentTemplate/index.js
  tests/contents/DASH_dynamic_SegmentTemplate/media/Manifest_no-timeShiftBufferDepth.mpd
  tests/contents/DASH_dynamic_SegmentTemplate/no_time_shift_buffer_depth.js
  tests/contents/DASH_dynamic_SegmentTemplate/urls.js
  tests/contents/DASH_dynamic_SegmentTimeline/index.js
  tests/contents/DASH_dynamic_SegmentTimeline/media/Manifest_no-timeShiftBufferDepth.mpd
  tests/contents/DASH_dynamic_SegmentTimeline/no_time_shift_buffer_depth.js
  tests/contents/DASH_dynamic_SegmentTimeline/urls.js
  tests/integration/scenarios/dash_live.js
  tests/integration/scenarios/dash_live_SegmentTemplate.js
Labels: DASH, Smooth, bug

#545 Hande Picture-in-picture when thottling
  src/compat/browser_compatibility_types.ts
  src/compat/event_listeners.ts
  src/compat/safely_request_pip.ts
Labels: ABR, bug

#551 Throttle video bitrate when hidden
  demo/full/scripts/modules/player/index.js
  doc/api/player_options.md
  src/compat/event_listeners.ts
  src/config.ts
  src/core/abr/abr_manager.ts
  src/core/abr/representation_chooser.ts
  src/core/api/__tests__/option_parsers.test.ts
  src/core/api/option_parsers.ts
  src/core/api/public_api.ts
  src/core/init/initialize_media_source.ts
Labels: ABR, bug

#544 Send EME events from EME Manager
  src/core/eme/eme_manager.ts
  src/core/eme/handle_session_events.ts
  src/core/eme/types.ts
  src/utils/rx-try_catch.ts
Labels: EME
