Repository canalplus/rx-player, pull requests merged in 2019-02, with the labels that each got.

#469 Hide and show text track when removing cue, on firefox
  src/compat/__tests__/remove_cue.test.ts
  src/compat/remove_cue.ts
  src/core/source_buffers/text/native/native_text_source_buffer.ts
Labels: Compatibility, Subtitles, bug

#466 Set Media Keys without waiting for encrypted event
  src/core/eme/_tests__/init_media_keys.test.ts
  src/core/eme/eme_manager.ts
  src/core/eme/init_media_keys.ts
  src/core/eme/types.ts
  src/core/init/create_eme_manager.ts
  src/core/init/initialize_directfile.ts
  src/core/init/initialize_media_source.ts
Labels: Compatibility, EME, work-in-progress

#482 buffers: avoid sending multiple MEDIA_TIME_AFTER_MANIFEST MEDIA_TIME_…
  src/core/buffers/buffer_orchestrator.ts
Labels: buffer, bug

#488 eme: remove unnecessary take operator when initializing the MediaKeys
  src/core/eme/eme_manager.ts
Labels: in-review

#487 init: fix calcul of wantedTimeOffset when the initial media element p…
  src/core/init/create_buffer_clock.ts
Labels: bug, in-review, init

#494 misc: use more idiomatic observeOn instead of shareReplay for synchronous subscriptions issues
  src/core/buffers/adaptation/adaptation_buffer.ts
  src/core/eme/eme_manager.ts
  src/core/init/create_buffer_clock.ts
  src/core/init/initial_seek_and_play.ts
  src/core/init/initialize_directfile.ts
  src/core/init/initialize_media_source.ts
Labels: bug

#497 buffers: only start MEDIA_TIME_{AFTER,BEFORE}_MANIFEST logic once per…
  src/core/buffers/buffer_orchestrator.ts
Labels: buffer, bug

#499 tests/memory: add memory test testing single content playback
  tests/contents/DASH_static_SegmentTimeline/index.js
  tests/memory/index.js
Labels: tests
