Repository canalplus/rx-player, pull requests merged in 2019-10, with the labels that each got.

#601 Better handling of discontinuities
  src/config.ts
  src/core/buffers/events_generators.ts
  src/core/buffers/representation/representation_buffer.ts
  src/core/buffers/types.ts
  src/core/init/get_discontinuities.ts
  src/core/init/get_stalled_events.ts
  src/core/init/handle_discontinuity.ts
  src/core/init/initialize_directfile.ts
  src/core/init/load_on_media_source.ts
  src/parsers/manifest/dash/indexes/timeline.ts
Labels: buffer, enhancement

#608 api: never rebuffer when ended even if there is an infinite buffer gap
  src/core/api/clock.ts
Labels: API

#610 Feat/smooth customattributes
  doc/api/loadVideo_options.md
  src/parsers/manifest/smooth/create_parser.ts
  src/parsers/manifest/smooth/utils/tokens.ts
  tests/contents/Smooth_static/custom_attributes.js
  tests/contents/Smooth_static/index.js
  tests/contents/Smooth_static/media/Manifest_Custom_Attributes.xml
  tests/contents/Smooth_static/urls.js
  tests/integration/scenarios/smooth_static.js
Labels: Smooth

#611 dash: infer range of init segment for SegmentBase without an Initialization element
  src/parsers/manifest/dash/indexes/base.ts
Labels: DASH

#619 Fixed slider width
  demo/full/styles/style.css
Labels: Demo

#624 Consider Server Sync Infos in Metaplaylist and Smooth
  src/parsers/manifest/metaplaylist/metaplaylist_parser.ts
  src/parsers/manifest/smooth/create_parser.ts
  src/transports/metaplaylist/pipelines.ts
Labels: MetaPlaylist, Smooth, bug
