Repository canalplus/rx-player, pull requests merged in 2019-07, with the labels that each got.

#559 api/eme: add getLicenseConfig property to keySystems
  doc/api/loadVideo_options.md
  src/core/eme/handle_session_events.ts
  src/core/eme/types.ts
Labels: API, EME

#562 Provide `currentTime` and `isPaused` when reloading the MediaSource
  src/core/buffers/adaptation/adaptation_buffer.ts
  src/core/buffers/events_generators.ts
  src/core/buffers/period/period_buffer.ts
  src/core/buffers/types.ts
  src/core/init/create_buffer_clock.ts
  src/core/init/initialize_media_source.ts
  src/core/init/load_on_media_source.ts
Labels: buffer, bug

#565 Unsubscribe from inner Observable in rx-throttle
  src/utils/rx-throttle.ts
Labels: bug

#564 Add content saving to demo
  demo/full/scripts/components/FocusedInput.jsx
  demo/full/scripts/components/Input.jsx
  demo/full/scripts/contents.js
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/controllers/Main.jsx
  demo/full/scripts/lib/localStorage.js
  demo/full/scripts/lib/parseDRMConfigurations.js
  demo/full/styles/style.css
Labels: Demo

#571 dash: give the clockoffset to the parser instead of just telling it we have one
  src/core/init/initialize_media_source.ts
  src/core/pipelines/manifest/create_manifest_pipeline.ts
  src/manifest/manifest.ts
  src/parsers/manifest/dash/__tests__/parse_from_document.test.ts
  src/parsers/manifest/dash/parse_mpd.ts
  src/transports/dash/pipelines.ts
  src/transports/types.ts
Labels: DASH, bug

#573 Wait for buffers to make adap/rep choices before emitting active period (v4)
  src/core/buffers/active_period_emitter.ts
  src/core/buffers/buffer_orchestrator.ts
Labels: buffer, bug

#526 Prefer WebKit EME API on Safari
  src/compat/__tests__/should_use_webkit_media_keys.test.ts
  src/compat/browser_compatibility_types.ts
  src/compat/browser_detection.ts
  src/compat/eme/custom_media_keys.ts
  src/compat/should_use_webkit_media_keys.ts
Labels: Compatibility, EME

#471 abr: Buffer based ABR
  demo/full/scripts/controllers/ContentList.jsx
  src/core/abr/__tests__/get_buffer_levels.test.ts
  src/core/abr/__tests__/get_estimate_from_buffer_levels.test.ts
  src/core/abr/abr_manager.ts
  src/core/abr/buffer_based_chooser.ts
  src/core/abr/create_filters.ts
  src/core/abr/from_bitrate_ceil.ts
  src/core/abr/get_buffer_levels.ts
  src/core/abr/get_estimate_from_buffer_levels.ts
  src/core/abr/index.ts
  src/core/abr/network_analyzer.ts
  src/core/abr/pending_requests_store.ts
  src/core/abr/representation_chooser.ts
  src/core/abr/representation_estimator.ts
  src/core/abr/representation_score_calculator.ts
  src/core/api/public_api.ts
  src/core/buffers/adaptation/adaptation_buffer.ts
  src/core/buffers/adaptation/get_pipeline_options.ts
  src/core/buffers/events_generators.ts
  src/core/buffers/period/period_buffer.ts
  src/core/buffers/representation/representation_buffer.ts
  src/core/buffers/representation/segment_filter.ts
  src/core/buffers/representation/should_replace_segment.ts
  src/core/buffers/types.ts
  src/core/init/initialize_media_source.ts
  src/core/pipelines/index.ts
  src/core/pipelines/manifest/create_manifest_pipeline.ts
  src/core/pipelines/segment/index.ts
  src/core/pipelines/segment/prioritized_segment_fetcher.ts
  src/core/pipelines/segment/segment_fetcher.ts
  src/core/pipelines/segment/segment_pipelines_manager.ts
  src/core/pipelines/utils/backoff.ts
  src/core/pipelines/utils/create_loader.ts
Labels: ABR, enhancement, in-review

#470 Add ABR algorithm docs
  doc/architecture/abr/bandwidth_estimator.md
  doc/architecture/abr/buffer_based_estimator.md
  doc/architecture/abr/index.md
Labels: ABR, doc, work-in-progress
