Repository canalplus/rx-player, pull requests merged in 2020-06, with the labels that each got.

#736 dash: do not update the ManifestBoundsCalculator when updating with a shorter Manifest
  src/parsers/manifest/dash/indexes/timeline/timeline_representation_index.ts
Labels: DASH, bug

#741 demo: don't depend on babel/polyfill for the demo anymore
  demo/full/scripts/index.js
  package-lock.json
  package.json
Labels: Demo

#733 eme: minor cosmetic code change
  src/core/eme/media_keys_infos_store.ts
  src/core/eme/session_events_listener.ts
  src/core/eme/set_server_certificate.ts
  src/utils/rx-retry_with_backoff.ts
Labels: EME, code

#725 misc/emit warning events after parsing an invalid MPD
  src/core/fetchers/manifest/create_manifest_fetcher.ts
  src/experimental/tools/createMetaplaylist/get_duration_from_manifest.ts
  src/parsers/manifest/dash/get_http_utc-timing_url.ts
  src/parsers/manifest/dash/node_parsers/AdaptationSet.ts
  src/parsers/manifest/dash/node_parsers/BaseURL.ts
  src/parsers/manifest/dash/node_parsers/ContentComponent.ts
  src/parsers/manifest/dash/node_parsers/ContentProtection.ts
  src/parsers/manifest/dash/node_parsers/Initialization.ts
  src/parsers/manifest/dash/node_parsers/MPD.ts
  src/parsers/manifest/dash/node_parsers/Period.ts
  src/parsers/manifest/dash/node_parsers/Representation.ts
  src/parsers/manifest/dash/node_parsers/SegmentBase.ts
  src/parsers/manifest/dash/node_parsers/SegmentList.ts
  src/parsers/manifest/dash/node_parsers/SegmentTemplate.ts
  src/parsers/manifest/dash/node_parsers/SegmentURL.ts
  src/parsers/manifest/dash/node_parsers/__tests__/AdaptationSet.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/Initialization.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/SegmentURL.test.ts
  src/parsers/manifest/dash/node_parsers/__tests__/utils.test.ts
  src/parsers/manifest/dash/node_parsers/utils.ts
  src/parsers/manifest/dash/parse_mpd.ts
  src/transports/dash/manifest_parser.ts
  src/transports/local/pipelines.ts
  src/transports/metaplaylist/pipelines.ts
  src/transports/smooth/pipelines.ts
  src/transports/types.ts
  src/transports/utils/return_parsed_manifest.ts
Labels: DASH

#722 Misc/eme better caching policy
  src/core/eme/get_session.ts
  src/core/eme/utils/init_data_store.ts
  src/core/eme/utils/loaded_sessions_store.ts
Labels: EME

#738 source-buffers: Do not create a video SourceBuffer on an audio element
  src/core/buffers/orchestrator/buffer_orchestrator.ts
  src/core/source_buffers/index.ts
  src/core/source_buffers/source_buffers_store.ts
Labels: enhancement

#723 dash/parsers: use AdaptationSet@selectionPriority to prioritize AdaptationSets
  src/parsers/manifest/dash/node_parsers/AdaptationSet.ts
  src/parsers/manifest/dash/parse_adaptation_sets.ts
  tests/contents/DASH_static_SegmentTimeline/index.js
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=0.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=10.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=100.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=20.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=30.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=40.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=50.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=60.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=70.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=80.dash
  tests/contents/DASH_static_SegmentTimeline/media/dash/ateam-text=90.dash
  tests/contents/DASH_static_SegmentTimeline/media/multi-AdaptationSets.mpd
  tests/contents/DASH_static_SegmentTimeline/multi-AdaptationSets.js
  tests/contents/DASH_static_SegmentTimeline/urls.js
  tests/integration/scenarios/dash_multi-track.js
Labels: DASH

#743 eme: fetch a new MediaKeySystemAccess if persistentState changes to "required"
  src/core/eme/find_key_system.ts
Labels: EME, bug

#734 Make much more use of the assertUnreachable function, to check branch exhaustiveness
  src/core/api/clock.ts
  src/core/buffers/representation/representation_buffer.ts
  src/core/eme/eme_manager.ts
  src/core/fetchers/segment/create_segment_loader.ts
  src/core/source_buffers/queued_source_buffer.ts
  src/utils/assert_unreachable.ts
Labels: code

#732 Fix/allow serialization license data storage
  jest.config.js
  src/core/eme/types.ts
  src/core/eme/utils/init_data_store.ts
  src/core/eme/utils/persistent_sessions_store.ts
  src/parsers/manifest/dash/node_parsers/AdaptationSet.ts
  src/parsers/manifest/dash/node_parsers/ContentProtection.ts
  src/parsers/manifest/dash/node_parsers/__tests__/ContentProtection.test.ts
  src/parsers/manifest/dash/node_parsers/utils.ts
  src/utils/__tests__/base64.test.ts
  src/utils/__tests__/base64_to_uint8array.test.ts
  src/utils/base64.ts
  src/utils/base64_to_uint8array.ts
Labels: EME, bug

#724 Emit EventStream through new RxPlayer event
  doc/api/index.md
  doc/api/player_events.md
  src/config.ts
  src/core/api/public_api.ts
  src/core/init/__tests__/are_same_stream_events.test.ts
  src/core/init/__tests__/refresh_scheduled_events_list.test.ts
  src/core/init/initialize_media_source.ts
  src/core/init/load_on_media_source.ts
  src/core/init/stream_events_emitter/are_same_stream_events.ts
  src/core/init/stream_events_emitter/index.ts
  src/core/init/stream_events_emitter/refresh_scheduled_events_list.ts
  src/core/init/stream_events_emitter/stream_events_emitter.ts
  src/core/init/stream_events_emitter/types.ts
  src/manifest/period.ts
  src/parsers/manifest/dash/node_parsers/EventStream.ts
  src/parsers/manifest/dash/node_parsers/Period.ts
  src/parsers/manifest/dash/parse_periods.ts
  src/parsers/manifest/types.ts
  tests/contents/DASH_static_SegmentTimeline/event-stream.js
  tests/contents/DASH_static_SegmentTimeline/index.js
  tests/contents/DASH_static_SegmentTimeline/media/event-streams.mpd
  tests/contents/DASH_static_SegmentTimeline/urls.js
  tests/integration/run.js
  tests/integration/scenarios/dash_stream-events.js
Labels: API, DASH, work-in-progress

#746 eme: fix `closeAllSessions` call to REALLY close all MediaKeySessions
  src/core/eme/utils/loaded_sessions_store.ts
  src/core/eme/utils/persistent_sessions_store.ts
Labels: EME, bug

#742 Remove old information from a PersistentSessionsStore to prevent its size from growing indefinitely.
  src/config.ts
  src/core/eme/__tests__/clean_old_loaded_sessions.test.ts
  src/core/eme/__tests__/clean_old_stored_persistent_info.test.ts
  src/core/eme/__tests__/init_media_keys.test.ts
  src/core/eme/clean_old_loaded_sessions.ts
  src/core/eme/clean_old_stored_persistent_info.ts
  src/core/eme/create_session.ts
  src/core/eme/eme_manager.ts
  src/core/eme/get_session.ts
  src/core/eme/types.ts
  src/core/eme/utils/persistent_sessions_store.ts
Labels: EME

#717 api: allow applying track preferences to already loaded Periods
  doc/api/index.md
  src/core/api/__tests__/media_element_track_choice_manager.test.ts
  src/core/api/media_element_track_choice_manager.ts
  src/core/api/public_api.ts
  src/core/api/track_choice_manager.ts
  tests/integration/scenarios/dash_multi-track.js
Labels: API
