Repository canalplus/rx-player, pull requests merged in 2020-01, with the labels that each got.

#655 transports: segment parsers now return a different object depending if it is parsing an init segment or not
  doc/architecture/transports/pipeline.md
  src/core/buffers/representation/append_segment_to_source_buffer.ts
  src/core/buffers/representation/push_init_segment.ts
  src/core/buffers/representation/push_media_segment.ts
  src/core/buffers/representation/representation_buffer.ts
  src/core/pipelines/segment/segment_fetcher.ts
  src/core/source_buffers/index.ts
  src/core/source_buffers/queued_source_buffer.ts
  src/transports/dash/image_pipelines.ts
  src/transports/dash/isobmff_timing_infos.ts
  src/transports/dash/segment_loader.ts
  src/transports/dash/segment_parser.ts
  src/transports/dash/text_parser.ts
  src/transports/metaplaylist/pipelines.ts
  src/transports/smooth/pipelines.ts
  src/transports/types.ts
Labels: DASH, MetaPlaylist, Smooth

#657 Do not use any browser-specific API at code evaluation when running inside node.js
  package-lock.json
  package.json
  scripts/check_nodejs_import_compatibility.js
  src/compat/__tests__/browser_compatibility_types.test.ts
  src/compat/browser_compatibility_types.ts
  src/compat/browser_detection.ts
  src/compat/eme/custom_media_keys.ts
  src/compat/event_listeners.ts
  src/compat/is_node.ts
  src/compat/on_height_width_change.ts
  src/compat/patch_webkit_source_buffer.ts
  src/utils/uniq.ts
Labels: Compatibility, code

#654 manifest: manifest/code: decorrelate `isLive` from `isDynamic`
  doc/api/loadVideo_options.md
  doc/api/player_events.md
  src/core/buffers/adaptation/adaptation_buffer.ts
  src/core/buffers/period/period_buffer.ts
  src/core/buffers/representation/representation_buffer.ts
  src/core/init/create_buffer_clock.ts
  src/manifest/__tests__/manifest.test.ts
  src/manifest/manifest.ts
  src/parsers/manifest/dash/__tests__/manifest_bounds_calculator.test.ts
  src/parsers/manifest/dash/get_first_time_from_adaptation.ts
  src/parsers/manifest/dash/get_last_time_from_adaptation.ts
  src/parsers/manifest/dash/manifest_bounds_calculator.ts
  src/parsers/manifest/dash/parse_mpd.ts
  src/parsers/manifest/dash/parse_periods.ts
  src/parsers/manifest/dash/parse_representations.ts
  src/parsers/manifest/metaplaylist/metaplaylist_parser.ts
  src/parsers/manifest/smooth/create_parser.ts
  src/parsers/manifest/smooth/representation_index.ts
  src/parsers/manifest/smooth/utils/add_segment_infos.ts
  src/parsers/manifest/types.ts
  tests/contents/DASH_dynamic_SegmentTemplate/infos.js
  tests/contents/DASH_dynamic_SegmentTimeline/infos.js
  tests/contents/DASH_dynamic_UTCTimings/with_direct.js
  tests/contents/DASH_dynamic_UTCTimings/with_direct_and_http.js
  tests/contents/DASH_dynamic_UTCTimings/with_http.js
  tests/contents/DASH_dynamic_UTCTimings/without_timings.js
  tests/contents/DASH_static_SegmentBase_multi_codecs/infos.js
  tests/contents/DASH_static_SegmentTemplate_Multi_Periods/infos.js
  tests/contents/DASH_static_SegmentTimeline/infos.js
  tests/contents/DASH_static_SegmentTimeline/not_starting_at_0.js
  tests/contents/Smooth_static/custom_attributes.js
  tests/contents/Smooth_static/empty_text_track.js
  tests/contents/Smooth_static/not_starting_at_0.js
  tests/contents/Smooth_static/regular.js
  tests/integration/scenarios/dash_live.js
  tests/integration/scenarios/dash_live_SegmentTemplate.js
  tests/integration/utils/launch_tests_for_content.js
Labels: Local Manifest

#659 Code/rename managers
  doc/architecture/api/index.md
  doc/architecture/index.md
  doc/architecture/pipelines/index.md
  src/core/api/index.ts
  src/core/api/option_parsers.ts
  src/core/api/public_api.ts
  src/core/api/track_choice_manager.ts
  src/core/buffers/adaptation/adaptation_buffer.ts
  src/core/buffers/buffer_orchestrator.ts
  src/core/buffers/period/period_buffer.ts
  src/core/init/initialize_media_source.ts
  src/core/init/load_on_media_source.ts
  src/core/pipelines/index.ts
  src/core/pipelines/segment/index.ts
  src/core/pipelines/segment/segment_pipeline_creator.ts
  src/custom_source_buffers/text/html/__tests__/utils.test.ts
  src/custom_source_buffers/text/html/html_text_source_buffer.ts
  src/custom_source_buffers/text/html/text_track_cues_store.ts
Labels: code

#663 api/doc: deprecate `hideNativeSubtitles`
  doc/api/deprecated.md
  doc/api/loadVideo_options.md
  src/core/api/option_parsers.ts
Labels: API

#661 api/doc: deprecate supplementaryTextTracks
  doc/api/deprecated.md
  doc/api/loadVideo_options.md
  doc/api/text_tracks.md
  doc/v2_to_v3.md
  src/core/api/option_parsers.ts
Labels: API

#662 Add parseBifThumbnails tools and deprecate other BIF-related APIs
  doc/api/deprecated.md
  doc/api/index.md
  doc/api/parseBifThumbnails.md
  doc/api/player_events.md
  src/core/api/option_parsers.ts
  src/core/api/public_api.ts
  src/experimental/tools/index.ts
  src/experimental/tools/parseBIFThumbnails.ts
  src/parsers/images/bif.ts
Labels: API, tools

#652 Added track management API support for streaming direct file contents.
  doc/api/index.md
  doc/api/player_events.md
  src/compat/browser_compatibility_types.ts
  src/core/api/__tests__/media_element_track_choice_manager.test.ts
  src/core/api/media_element_track_choice_manager.ts
  src/core/api/public_api.ts
  src/features/__tests__/initialize_features.test.ts
  src/features/index.ts
  src/features/initialize_features.ts
  src/features/list/__tests__/directfile.test.ts
  src/features/list/directfile.ts
  src/features/types.ts
  src/typings/globals.d.ts
  tests/integration/scenarios/dash_live_utc_timings.js
  webpack-tests.config.js
  webpack.config.js
Labels: DirectFile, enhancement
