Repository canalplus/rx-player, pull requests merged in 2020-11, with the labels that each got.

#832 Add white default color to ttml
  src/parsers/texttracks/ttml/html/create_element.ts
Labels: Ready for Review, TTML

#830 fix(directfile-eme): Fix a bug where the CDM will never know when the media key will be attached in directfile
  src/core/eme/init_media_keys.ts
  src/core/init/initialize_directfile.ts
Labels: DirectFile, EME, Ready for Review

#805 features: avoid circular dependency in `src/features`
  src/features/__tests__/add_features.test.ts
  src/features/__tests__/initialize_features.test.ts
  src/features/add_features.ts
  src/features/features_object.ts
  src/features/index.ts
  src/features/initialize_features.ts
Labels: Ready for Review, code

#822 eme: better log why a session is not considered as "usable"
  src/core/eme/utils/is_session_usable.ts
Labels: EME, Ready for Review

#811 demo: integrate RxPlayer directly in the demo bundle
  demo/full/index.html
  demo/full/scripts/controllers/Main.jsx
  demo/full/scripts/modules/player/index.js
  scripts/deploy_new_demo
  scripts/generate_full_demo.js
  scripts/update_gh-pages_demo
  sonar-project.properties
  webpack-demo.config.js
Labels: Demo, Ready for Review, code

#833 No need for server certificate when not using fairplay on WebKitMediaKeys
  src/compat/eme/custom_media_keys/webkit_media_keys.ts
Labels: Compatibility, EME, Ready for Review

#813 Fixed VideoTrack demo index being limited to 1 (first choice)
  demo/full/scripts/controllers/knobs/VideoTrack.jsx
Labels: Demo, bug

#829 text/ttml: allow multiple cues to be displayed at the same time
  src/custom_source_buffers/text/html/html_text_source_buffer.ts
  src/custom_source_buffers/text/html/text_track_cues_store.ts
  src/parsers/texttracks/ttml/html/apply_origin.ts
  src/parsers/texttracks/ttml/html/create_element.ts
Labels: Ready for Review, TTML

#828 Use the main "Role" to decide between multiple AdaptationSets
  src/parsers/manifest/dash/parse_adaptation_sets.ts
  tests/contents/DASH_static_SegmentBase/multi_codecs.js
  tests/contents/DASH_static_SegmentTimeline/media/multi-AdaptationSets.mpd
  tests/integration/scenarios/dash_multi-track.js
Labels: DASH, Ready for Review

#815 Apply default style to TTML if not encountered
  src/parsers/texttracks/ttml/html/create_element.ts
  src/parsers/texttracks/ttml/html/parse_ttml_to_div.ts
Labels: Ready for Review, TTML

#835 Server Certificate re-handling
  src/core/eme/eme_manager.ts
  src/core/eme/get_media_keys.ts
  src/core/eme/server_certificate_store.ts
  src/core/eme/set_server_certificate.ts
Labels: EME, Ready for Review

#826 Allow an `absoluteMinimum` position for live contents
  src/manifest/__tests__/manifest.test.ts
  src/manifest/manifest.ts
  src/parsers/manifest/dash/get_minimum_and_maximum_positions.ts
  src/parsers/manifest/dash/parse_mpd.ts
  src/parsers/manifest/local/parse_local_manifest.ts
  src/parsers/manifest/metaplaylist/metaplaylist_parser.ts
  src/parsers/manifest/smooth/create_parser.ts
  src/parsers/manifest/types.ts
  src/parsers/manifest/utils/get_maximum_position.ts
  src/parsers/manifest/utils/get_minimum_position.ts
Labels: DASH, Ready for Review, Smooth, bug

#837 Adaptation Switch Changes
  src/config.ts
  src/core/abr/network_analyzer.ts
  src/core/abr/representation_estimator.ts
  src/core/api/clock.ts
  src/core/api/public_api.ts
  src/core/init/create_stream_clock.ts
  src/core/init/get_discontinuities.ts
  src/core/init/initialize_media_source.ts
  src/core/init/types.ts
  src/core/stream/events_generators.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/create_empty_adaptation_stream.ts
  src/core/stream/period/get_adaptation_switch_strategy.ts
  src/core/stream/period/period_stream.ts
  src/core/stream/representation/append_segment_to_source_buffer.ts
  src/core/stream/representation/force_garbage_collection.ts
  src/core/stream/representation/get_segment_priority.ts
  src/core/stream/representation/get_wanted_range.ts
  src/core/stream/representation/push_init_segment.ts
  src/core/stream/representation/push_media_segment.ts
  src/core/stream/representation/representation_stream.ts
  src/core/stream/types.ts
Labels: DASH, Ready for Review, bug

#814 [Proposal] Add "conformance tests"
  doc/architecture/files.md
  tests/conformance/hdcp_policy_check.html
  tests/conformance/media_key_system_access.html
Labels: Ready for Review, proposal, tests

#839 segment_buffers: Push init data again when changeType is called
  src/core/segment_buffers/implementations/audio_video/audio_video_segment_buffer.ts
Labels: SegmentBuffers, bug

#806 audioTrackSwitchingMode api on loadVideo
  doc/api/loadVideo_options.md
  src/config.ts
  src/core/api/__tests__/option_parsers.test.ts
  src/core/api/option_parsers.ts
  src/core/api/public_api.ts
  src/core/init/initialize_media_source.ts
  src/core/segment_buffers/implementations/audio_video/audio_video_segment_buffer.ts
  src/core/segment_buffers/implementations/types.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/period/get_adaptation_switch_strategy.ts
  src/core/stream/period/period_stream.ts
  src/core/stream/types.ts
  src/utils/__tests__/are_codecs_compatible.test.ts
  src/utils/are_codecs_compatible.ts
Labels: API, languages
