Repository canalplus/rx-player, pull requests merged in 2021-05, with the labels that each got.

#948 Add segment's time information on parsed plain-text segments
  src/transports/utils/parse_text_track.ts
Labels: DASH, Local Manifest, bug

#956 Update stream events when updating the manifest
  src/manifest/update_period_in_place.ts
Labels: DASH, bug

#951 [Proposal] Simplify segment parsers types
  CONTRIBUTING.md
  src/core/api/public_api.ts
  src/core/fetchers/segment/create_segment_loader.ts
  src/core/fetchers/segment/prioritized_segment_fetcher.ts
  src/core/fetchers/segment/segment_fetcher.ts
  src/core/fetchers/segment/segment_fetcher_creator.ts
  src/core/init/initialize_media_source.ts
  src/core/init/load_on_media_source.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/period_stream.ts
  src/core/stream/representation/representation_stream.ts
  src/transports/dash/add_segment_integrity_checks_to_loader.ts
  src/transports/dash/image_pipelines.ts
  src/transports/dash/text_parser.ts
  src/transports/local/text_parser.ts
  src/transports/metaplaylist/pipelines.ts
  src/transports/smooth/pipelines.ts
  src/transports/types.ts
  src/utils/assert.ts
Labels: Refacto, proposal

#963 dash: do not trigger refresh from a ListRepresentationIndex
  src/parsers/manifest/dash/indexes/list.ts
Labels: DASH, bug

#955 Update dependencies and remove Chart.js dependency
  demo/full/scripts/controllers/charts/BufferSize.jsx
  demo/full/scripts/controllers/charts/index.jsx
  package-lock.json
  package.json
  src/core/eme/__tests__/__global__/get_license.test.ts
  src/core/eme/__tests__/__global__/init_data.test.ts
  src/core/eme/__tests__/__global__/media_key_system_access.test.ts
  src/core/eme/__tests__/__global__/media_keys.test.ts
  src/core/eme/__tests__/__global__/server_certificate.test.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/period_stream.ts
  src/experimental/tools/createMetaplaylist/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/DRMInfos.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/HDCPPolicy.ts
  src/utils/__tests__/concat_map_latest.test.ts
Labels: dependencies

#954 Update RxJS to v7.0.0
  package-lock.json
  package.json
  src/core/eme/__tests__/__global__/get_license.test.ts
  src/core/eme/__tests__/__global__/init_data.test.ts
  src/core/eme/__tests__/__global__/media_key_system_access.test.ts
  src/core/eme/__tests__/__global__/media_keys.test.ts
  src/core/eme/__tests__/__global__/server_certificate.test.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/period_stream.ts
  src/experimental/tools/createMetaplaylist/index.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/DRMInfos.ts
  src/experimental/tools/mediaCapabilitiesProber/probers/HDCPPolicy.ts
  src/utils/__tests__/concat_map_latest.test.ts
Labels: dependencies

#949 Do not consider that there is an init segment when only a BaseURL is available
  src/core/fetchers/segment/segment_fetcher.ts
  src/core/stream/representation/representation_stream.ts
  src/manifest/representation.ts
  src/manifest/representation_index/types.ts
  src/parsers/manifest/dash/parse_representation_index.ts
  src/transports/dash/image_pipelines.ts
  src/transports/dash/segment_parser.ts
  src/transports/dash/text_parser.ts
  src/transports/local/segment_parser.ts
  src/transports/local/text_parser.ts
  src/transports/smooth/pipelines.ts
  src/transports/types.ts
  tests/contents/DASH_static_SegmentBase/multi_codecs.js
Labels: DASH, bug

#953 Clean-up BaseRepresentationIndex and SmoothRepresentationIndex code
  src/manifest/representation_index/types.ts
  src/parsers/containers/isobmff/utils.ts
  src/parsers/containers/matroska/utils.ts
  src/parsers/manifest/dash/indexes/base.ts
  src/parsers/manifest/smooth/create_parser.ts
  src/parsers/manifest/smooth/representation_index.ts
  src/transports/dash/segment_parser.ts
  src/transports/dash/text_parser.ts
  src/transports/smooth/pipelines.ts
Labels: DASH, Smooth, code

#958 Limit the postponment of a Manifest refresh to an acceptable value (regular delay * 6)
  src/core/init/manifest_update_scheduler.ts
Labels: init, proposal

#947 improve container detection logic in the transport code
  src/transports/dash/add_segment_integrity_checks_to_loader.ts
  src/transports/dash/segment_loader.ts
  src/transports/dash/segment_parser.ts
  src/transports/dash/text_loader.ts
  src/transports/dash/text_parser.ts
  src/transports/local/segment_parser.ts
  src/transports/local/text_parser.ts
  src/transports/utils/__tests__/infer_segment_container.test.ts
  src/transports/utils/__tests__/is_mp4_embedded_text_track.test.ts
  src/transports/utils/__tests__/is_webm_embedded_track.test.ts
  src/transports/utils/infer_segment_container.ts
  src/transports/utils/is_mp4_embedded_text_track.ts
  src/transports/utils/is_webm_embedded_track.ts
Labels: DASH, bug
