Repository canalplus/rx-player, pull requests merged in 2021-09, with the labels that each got.

#974 Cast License in Uint8Array
  src/compat/eme/custom_media_keys/webkit_media_keys.ts
Labels: bug, EME, Compatibility

#998 Dependencies update: rxjs 7.3.0, TypeScript 4.4.2
  package-lock.json
  package.json
  src/compat/__tests__/make_vtt_cue.test.ts
  src/compat/browser_compatibility_types.ts
  src/compat/eme/close_session.ts
  src/compat/eme/custom_media_keys/ie11_media_keys.ts
  src/compat/eme/custom_media_keys/ms_media_keys_constructor.ts
  src/core/api/__tests__/option_utils.test.ts
  src/core/api/public_api.ts
  src/core/eme/session_events_listener.ts
  src/manifest/__tests__/period.test.ts
  src/manifest/__tests__/update_periods.test.ts
  src/parsers/manifest/utils/__tests__/update_segment_timeline.test.ts
  src/transports/utils/__tests__/check_isobmff_integrity.test.ts
  src/utils/__tests__/assert.test.ts
  src/utils/__tests__/assert_unreachable.test.ts
  tsconfig.json
  tsconfig.modules.json
Labels: work-in-progress

#981 wasm/dash: handle Event namespaces
  src/parsers/manifest/dash/common/parse_mpd.ts
  src/parsers/manifest/dash/common/parse_periods.ts
  src/parsers/manifest/dash/node_parser_types.ts
  src/parsers/manifest/dash/wasm-parser/rs/events.rs
  src/parsers/manifest/dash/wasm-parser/rs/processor/attributes.rs
  src/parsers/manifest/dash/wasm-parser/rs/reportable.rs
  src/parsers/manifest/dash/wasm-parser/rs/utils.rs
  src/parsers/manifest/dash/wasm-parser/ts/generators/EventStream.ts
  src/parsers/manifest/dash/wasm-parser/ts/generators/MPD.ts
  src/parsers/manifest/dash/wasm-parser/ts/generators/Period.ts
  src/parsers/manifest/dash/wasm-parser/ts/types.ts
Labels: bug, DASH, WASM

#980 Update quick-xml dependency to reduce file size and compilation time
  src/parsers/manifest/dash/wasm-parser/Cargo.lock
  src/parsers/manifest/dash/wasm-parser/Cargo.toml
Labels: DASH, Perf, WASM

#977 Remove CachedSegmentDetector from abr
  src/core/abr/cached_segment_detector.ts
  src/core/abr/representation_estimator.ts
Labels: ABR

#990 Avoid requesting in a loop segments the browser crops for some reasons
  src/config.ts
  src/core/segment_buffers/implementations/audio_video/audio_video_segment_buffer.ts
  src/core/segment_buffers/implementations/image/image_segment_buffer.ts
  src/core/segment_buffers/implementations/text/html/html_text_segment_buffer.ts
  src/core/segment_buffers/implementations/text/native/native_text_segment_buffer.ts
  src/core/segment_buffers/implementations/types.ts
  src/core/segment_buffers/index.ts
  src/core/segment_buffers/inventory/buffered_history.ts
  src/core/segment_buffers/inventory/index.ts
  src/core/segment_buffers/inventory/segment_inventory.ts
  src/core/segment_buffers/inventory/types.ts
  src/core/stream/representation/get_buffer_status.ts
  src/core/stream/representation/get_needed_segments.ts
Labels: bug, Stream, Compatibility, SegmentBuffers

#973 implement (again) parallel init and media segment fetching
  src/core/stream/representation/downloading_queue.ts
  src/core/stream/representation/representation_stream.ts
  tests/integration/scenarios/initial_playback.js
  tests/integration/scenarios/loadVideo_options.js
  tests/integration/utils/launch_tests_for_content.js
  tests/utils/waitForPlayerState.js
Labels: Perf

#999 Expose player options in the demo
  demo/full/scripts/components/Button.jsx
  demo/full/scripts/components/CheckBox.jsx
  demo/full/scripts/components/Options/AudioAdaptiveSettings.jsx
  demo/full/scripts/components/Options/BufferOptions.jsx
  demo/full/scripts/components/Options/NetworkConfig.jsx
  demo/full/scripts/components/Options/Option.jsx
  demo/full/scripts/components/Options/Playback.jsx
  demo/full/scripts/components/Options/TrackSwitch.jsx
  demo/full/scripts/components/Options/VideoAdaptiveSettings.jsx
  demo/full/scripts/components/Select.jsx
  demo/full/scripts/controllers/ContentList.jsx
  demo/full/scripts/controllers/Player.jsx
  demo/full/scripts/controllers/Settings.jsx
  demo/full/scripts/controllers/charts/index.jsx
  demo/full/scripts/controllers/knobs/AudioBitrate.jsx
  demo/full/scripts/controllers/knobs/AudioTrack.jsx
  demo/full/scripts/controllers/knobs/SpeedKnob.jsx
  demo/full/scripts/controllers/knobs/Subtitles.jsx
  demo/full/scripts/controllers/knobs/VideoBitrate.jsx
  demo/full/scripts/controllers/knobs/VideoTrack.jsx
  demo/full/scripts/lib/defaultOptionsValues.js
  demo/full/scripts/lib/getCheckboxValue.js
  demo/full/scripts/lib/isEqual.js
  demo/full/scripts/lib/withModulesState.jsx
  demo/full/scripts/modules/player/index.js
  demo/full/styles/style.css
Labels: Demo

#1000 stream: add the concept of a "locked" stream
  src/core/init/initialize_directfile.ts
  src/core/init/load_on_media_source.ts
  src/core/init/stall_avoider.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/events_generators.ts
  src/core/stream/orchestrator/active_period_emitter.ts
  src/core/stream/orchestrator/are_streams_complete.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/period_stream.ts
  src/core/stream/reload_after_switch.ts
  src/core/stream/types.ts
Labels: bug

#996 Release/v3.26.1
  CHANGELOG.md
  VERSION
  demo/full/scripts/components/VideoThumbnail.jsx
  demo/full/scripts/contents.js
  demo/full/scripts/controllers/ProgressBar.jsx
  dist/mpd-parser.wasm
  dist/rx-player.js
  dist/rx-player.min.js
  package-lock.json
  package.json
  scripts/update-version
  sonar-project.properties
  src/core/api/public_api.ts
  src/core/init/duration_updater.ts
  src/experimental/tools/VideoThumbnailLoader/get_content_infos.ts
  src/experimental/tools/VideoThumbnailLoader/get_initialized_source_buffer.ts
  src/experimental/tools/VideoThumbnailLoader/prepare_source_buffer.ts
  src/parsers/manifest/dash/common/attach_trickmode_track.ts
  src/parsers/manifest/dash/common/parse_adaptation_sets.ts
  src/parsers/manifest/dash/common/parse_mpd.ts
  src/parsers/manifest/dash/common/parse_periods.ts
  src/parsers/manifest/dash/common/parse_representations.ts
  src/parsers/manifest/dash/wasm-parser/ts/parsers_stack.ts
Labels: release
