Repository canalplus/rx-player, pull requests merged in 2021-08, with the labels that each got.

#993 Fix/ttml parsing
  src/parsers/texttracks/ttml/nodes.ts
Labels: TTML, bug

#991 propose more helpful 'list' npm script instead of dealing with the huge output of 'info'
  README.md
  package.json
  scripts/list-npm-scripts-info.js
  scripts/list-npm-scripts.js
Labels: proposal

#983 send available{Audio,Video}BitratesChange event for multi-Period contents
  src/core/api/public_api.ts
  tests/contents/DASH_static_SegmentTimeline/index.js
  tests/contents/DASH_static_SegmentTimeline/media/multi_period_different_choices.mpd
  tests/contents/DASH_static_SegmentTimeline/media/multi_period_same_choices.mpd
  tests/contents/DASH_static_SegmentTimeline/multi_period_different_choices.js
  tests/contents/DASH_static_SegmentTimeline/multi_period_same_choices.js
  tests/contents/DASH_static_SegmentTimeline/urls.js
  tests/integration/scenarios/dash_multi_periods.js
Labels: bug, DASH

#982 Add "freezing" notion and try to unfreeze
  src/compat/index.ts
  src/compat/is_playback_stuck.ts
  src/compat/play.ts
  src/config.ts
  src/core/api/__tests__/get_player_state.test.ts
  src/core/api/clock.ts
  src/core/api/get_player_state.ts
  src/core/api/index.ts
  src/core/api/public_api.ts
  src/core/init/create_stream_clock.ts
  src/core/init/emit_loaded_event.ts
  src/core/init/events_generators.ts
  src/core/init/initial_seek_and_play.ts
  src/core/init/initialize_directfile.ts
  src/core/init/load_on_media_source.ts
  src/core/init/stall_avoider.ts
  src/core/init/types.ts
  src/core/init/update_playback_rate.ts
  src/core/stream/period/period_stream.ts
  src/core/stream/representation/representation_stream.ts
  tests/integration/scenarios/initial_playback.js
Labels: Compatibility
