Repository canalplus/rx-player, pull requests merged in 2021-02, with the labels that each got.

#890 Fix/metaplaylist period switching
  jest.config.js
  src/core/api/public_api.ts
  src/core/fetchers/segment/__tests__/prioritizer.test.ts
  src/core/fetchers/segment/prioritizer.ts
  src/parsers/manifest/metaplaylist/representation_index.ts
  tests/integration/scenarios/dash_multi-track.js
  tests/integration/scenarios/discontinuities.js
  tests/integration/scenarios/initial_playback.js
  tests/integration/utils/launch_tests_for_content.js
Labels: MetaPlaylist, bug

#891 Do not throw when no native MediaKeys isTypeSupported
  src/compat/__tests__/browser_compatibility_types.test.ts
  src/compat/browser_compatibility_types.ts
  src/compat/eme/custom_media_keys/index.ts
  src/compat/eme/custom_media_keys/moz_media_keys_constructor.ts
Labels: Ready for Review

#893 Remove "progress" event from being listened by the clock
  src/core/api/clock.ts
Labels: Perf, Ready for Review

#895 drm: perform setServerCertificate before init data has been received
  src/core/eme/__tests__/__global__/server_certificate.test.ts
  src/core/eme/eme_manager.ts
Labels: EME, Perf, Ready for Review, bug

#907 Add the clock's wantedTimeOffest to the BufferGarbageCollector's
  src/core/stream/orchestrator/stream_orchestrator.ts
Labels: Stream, bug

#900 doc: move architecture documentation files closer to the code
  CONTRIBUTING.md
  FILES.md
  README.md
  doc/architecture/README.md
  doc/architecture/abr/bandwidth_estimator.md
  doc/architecture/abr/buffer_based_chooser.md
  doc/architecture/abr/index.md
  doc/architecture/api/index.md
  doc/architecture/eme/index.md
  doc/architecture/index.md
  doc/architecture/segment_buffers/segment_inventory.md
  doc/architecture/stream/representation_stream.md
  doc/architecture/transports/index.md
  doc/index.md
  src/README.md
  src/compat/README.md
  src/core/README.md
  src/core/abr/README.md
  src/core/api/README.md
  src/core/eme/README.md
  src/core/fetchers/README.md
  src/core/init/README.md
  src/core/segment_buffers/README.md
  src/core/stream/README.md
  src/core/stream/orchestrator/README.md
  src/core/stream/representation/README.md
  src/errors/README.md
  src/experimental/README.md
  src/features/README.md
  src/manifest/README.md
  src/parsers/README.md
  src/tools/README.md
  src/transports/README.md
  src/transports/metaplaylist/README.md
  src/typings/README.md
  src/utils/README.md
Labels: Ready for Review, doc

#898 Download Init segment in parralel of the first media segment
  src/core/stream/representation/downloading_queue.ts
  src/core/stream/representation/representation_stream.ts
  tests/integration/scenarios/initial_playback.js
  tests/integration/scenarios/loadVideo_options.js
  tests/integration/utils/launch_tests_for_content.js
  tests/utils/waitForPlayerState.js
Labels: DASH, Perf, Ready for Review, Stream

#894 improve content switching performance by loading the Manifest ASAP
  src/core/api/public_api.ts
  src/core/init/initialize_media_source.ts
  src/core/init/manifest_update_scheduler.ts
Labels: Perf, Ready for Review

#899 Take into account rounding errors for indexes computing and comparisons
  src/config.ts
  src/parsers/manifest/dash/indexes/is_period_fulfilled.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/indexes/timeline/timeline_representation_index.ts
Labels: DASH, bug

#906 Fixes on handling sudden fall in bandwidth
  src/core/abr/network_analyzer.ts
Labels: ABR, bug
