Repository canalplus/rx-player, pull requests merged in 2021-01, with the labels that each got.

#873 tests: add conformance tests relative to the initial seek
  tests/conformance/initial_seek_after_loaded_metadata.html
  tests/conformance/initial_seek_after_segment_push.html
Labels: Compatibility, Ready for Review, tests

#874 No video bitrate throttling when video is hidden or video size changes, on Firefox (version >= 67)
  doc/api/player_options.md
  src/compat/__tests__/browser_version.test.ts
  src/compat/__tests__/can_rely_on_video_visibility_and_size.test.ts
  src/compat/browser_version.ts
  src/compat/can_rely_on_video_visibility_and_size.ts
  src/core/api/public_api.ts
Labels: API, Ready for Review

#847 compat/eme: wait a small delay after loading session in some conditions
  src/compat/eme/index.ts
  src/compat/eme/load_session.ts
  src/compat/index.ts
  src/core/eme/create_session.ts
Labels: Compatibility, EME, Ready for Review

#875 use TextEncoder and TextDecoder when available
  src/utils/string_parsing.ts
Labels: Ready for Review, code

#870 EME: small EMEManager adjustements
  src/compat/eme/generate_key_request.ts
  src/core/eme/__tests__/__global__/get_license.test.ts
  src/core/eme/__tests__/__global__/init_data.test.ts
  src/core/eme/__tests__/__global__/utils.ts
  src/core/eme/__tests__/clean_old_loaded_sessions.test.ts
  src/core/eme/__tests__/init_media_keys.test.ts
  src/core/eme/attach_media_keys.ts
  src/core/eme/check_key_statuses.ts
  src/core/eme/clean_old_loaded_sessions.ts
  src/core/eme/create_session.ts
  src/core/eme/eme_manager.ts
  src/core/eme/get_media_keys.ts
  src/core/eme/get_session.ts
  src/core/eme/init_media_keys.ts
  src/core/eme/session_events_listener.ts
  src/core/eme/types.ts
  src/core/eme/utils/init_data_store.ts
  src/core/eme/utils/loaded_sessions_store.ts
  src/core/eme/utils/persistent_sessions_store.ts
  src/core/init/initialize_media_source.ts
Labels: EME, Ready for Review

#844 Log media timings at each clock tick
  src/core/api/clock.ts
Labels: Ready for Review, code

#878 Avoid loading segments in a loop when in "native" textTrackMode
  src/core/segment_buffers/implementations/text/html/html_text_segment_buffer.ts
  src/core/segment_buffers/implementations/text/html/index.ts
  src/core/segment_buffers/implementations/text/native/index.ts
  src/core/segment_buffers/implementations/text/native/native_text_segment_buffer.ts
Labels: Ready for Review, Subtitles, bug

#845 Mutualize TTML cue parsing before transforming to HTML / native
  src/parsers/texttracks/ttml/html/apply_default_ttml_paragraph_style.ts
  src/parsers/texttracks/ttml/html/create_element.ts
  src/parsers/texttracks/ttml/html/parse_cue.ts
  src/parsers/texttracks/ttml/html/parse_ttml_to_div.ts
  src/parsers/texttracks/ttml/native/parse_cue.ts
  src/parsers/texttracks/ttml/native/parse_ttml_to_vtt.ts
  src/parsers/texttracks/ttml/parse_ttml.ts
Labels: Refacto, code

#862 Detect and skip over most discontinuities
  src/config.ts
  src/core/api/clock.ts
  src/core/api/public_api.ts
  src/core/init/events_generators.ts
  src/core/init/get_discontinuities.ts
  src/core/init/get_stalled_events.ts
  src/core/init/handle_discontinuity.ts
  src/core/init/index.ts
  src/core/init/initialize_directfile.ts
  src/core/init/load_on_media_source.ts
  src/core/init/stall_avoider.ts
  src/core/init/types.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/events_generators.ts
  src/core/stream/orchestrator/are_streams_complete.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/create_empty_adaptation_stream.ts
  src/core/stream/representation/append_segment_to_buffer.ts
  src/core/stream/representation/check_for_discontinuity.ts
  src/core/stream/representation/get_buffer_status.ts
  src/core/stream/representation/get_needed_segments.ts
  src/core/stream/representation/get_wanted_range.ts
  src/core/stream/representation/representation_stream.ts
  src/core/stream/types.ts
  src/errors/error_codes.ts
  src/manifest/__tests__/adaptation.test.ts
  src/manifest/__tests__/representation.test.ts
  src/manifest/manifest.ts
  src/manifest/representation_index/__tests__/static.test.ts
  src/manifest/representation_index/static.ts
  src/manifest/representation_index/types.ts
  src/parsers/manifest/dash/indexes/base.ts
  src/parsers/manifest/dash/indexes/list.ts
  src/parsers/manifest/dash/indexes/template.ts
  src/parsers/manifest/dash/indexes/timeline/timeline_representation_index.ts
  src/parsers/manifest/local/representation_index.ts
  src/parsers/manifest/metaplaylist/representation_index.ts
  src/parsers/manifest/smooth/representation_index.ts
  src/parsers/manifest/utils/__tests__/get_first_time_from_adaptations.test.ts
  src/parsers/manifest/utils/__tests__/get_last_time_from_adaptation.test.ts
  src/parsers/manifest/utils/index_helpers.ts
  src/utils/__tests__/initialization_segment_cache.test.ts
  src/utils/ranges.ts
  tests/contents/DASH_static_SegmentTemplate_Multi_Periods/different_types_infos.js
  tests/contents/DASH_static_SegmentTemplate_Multi_Periods/discontinuity_between_periods_infos.js
  tests/contents/DASH_static_SegmentTemplate_Multi_Periods/index.js
  tests/contents/DASH_static_SegmentTemplate_Multi_Periods/media/different_types_discontinuity.mpd
  tests/contents/DASH_static_SegmentTemplate_Multi_Periods/media/discontinuities_between_periods.mpd
  tests/contents/DASH_static_SegmentTemplate_Multi_Periods/urls.js
  tests/contents/DASH_static_SegmentTimeline/discontinuity.js
  tests/contents/DASH_static_SegmentTimeline/index.js
  tests/contents/DASH_static_SegmentTimeline/media/discontinuity.mpd
  tests/contents/DASH_static_SegmentTimeline/urls.js
  tests/integration/scenarios/discontinuities.js
  tests/integration/utils/launch_tests_for_content.js
Labels: Ready for Review, Refacto

#848 Seek back a consistent amount of time when switching track/bitrate
  src/config.ts
  src/core/init/initialize_media_source.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/events_generators.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/period_stream.ts
  src/core/stream/types.ts
  src/core/stream/utils.ts
Labels: Ready for Review, Stream, languages

#876 [proposal] add minAutoBitrate features to define a minimum adaptive bitrate
  doc/api/index.md
  doc/api/player_options.md
  src/config.ts
  src/core/abr/__tests__/from_bitrate_ceil.test.ts
  src/core/abr/__tests__/select_optimal_representation.test.ts
  src/core/abr/abr_manager.ts
  src/core/abr/from_bitrate_ceil.ts
  src/core/abr/representation_estimator.ts
  src/core/abr/select_optimal_representation.ts
  src/core/api/__tests__/option_utils.test.ts
  src/core/api/option_utils.ts
  src/core/api/public_api.ts
  tests/integration/scenarios/idle.js
Labels: ABR, API, Ready for Review, proposal

#882 Documentation improvements for v3.23
  doc/api/index.md
  scripts/doc-generator/styles/style.css
Labels: doc

#889 Fix Uint8Array believed to be an ArrayBuffer when blacklisting based on key-id
  src/core/eme/check_key_statuses.ts
  src/core/eme/types.ts
  src/manifest/manifest.ts
Labels: EME, Ready for Review, bug

#888 compat: throw a better error when no EME API is found
  src/compat/eme/custom_media_keys/index.ts
Labels: EME, Ready for Review
