Repository canalplus/rx-player, pull requests merged in 2021-03, with the labels that each got.

#913 fix memory leak in RepresentationStream
  src/core/stream/representation/downloading_queue.ts
  src/core/stream/representation/representation_stream.ts
Labels: Stream, bug

#903 Consider multiple accessibility descriptors
  src/parsers/manifest/dash/node_parsers/AdaptationSet.ts
  src/parsers/manifest/dash/parse_adaptation_sets.ts
Labels: DASH, enhancement

#925 generalize segment paddings to all devices
  src/compat/__tests__/should_append_buffer_after_padding.test.ts
  src/compat/should_append_buffer_after_padding.ts
  src/config.ts
  src/core/stream/representation/get_needed_segments.ts
Labels: Stream

#914 set a much lower duration by default for live contents
  src/core/init/create_media_source.ts
  src/core/init/load_on_media_source.ts
Labels: Compatibility, bug, init

#917 Feat/update mediasource duration
  src/core/init/create_media_source.ts
  src/core/init/duration_updater.ts
  src/core/init/load_on_media_source.ts
Labels: enhancement, init

#920 EME: Fix possible leaks of MediaKeySessions if closed at the wrong time
  src/config.ts
  src/core/eme/utils/close_session.ts
  src/core/eme/utils/loaded_sessions_store.ts
Labels: EME, bug

#909 add quick links inside the RxPlayer API Page
  doc/api/index.md
  package.json
Labels: doc

#929 Update manifest update URL at manifest partial refresh
  src/core/api/option_utils.ts
  src/core/api/public_api.ts
  src/core/init/initialize_media_source.ts
  src/core/init/manifest_update_scheduler.ts
  src/manifest/manifest.ts
  src/manifest/types.ts
  src/transports/types.ts
Labels: bug, enhancement

#928 eme: wait at most 100ms after a session is loaded to check on its keyStatuses
  src/compat/eme/load_session.ts
  src/config.ts
Labels: Compatibility, EME

#922 Avoid seeking over discontinuities when the browser seeks back
  src/compat/__tests__/is_seeking_approximate.test.ts
  src/compat/browser_detection.ts
  src/compat/is_seeking_approximate.ts
  src/config.ts
  src/core/init/stall_avoider.ts
Labels: Compatibility, bug

#911 communicate detailed initialization data to the EMEManager
  src/compat/eme/generate_key_request.ts
  src/compat/eme/get_init_data.ts
  src/compat/eme/index.ts
  src/core/eme/__tests__/__global__/get_license.test.ts
  src/core/eme/__tests__/__global__/init_data.test.ts
  src/core/eme/__tests__/__global__/server_certificate.test.ts
  src/core/eme/__tests__/__global__/utils.ts
  src/core/eme/eme_manager.ts
  src/core/eme/types.ts
  src/core/eme/utils/__tests__/are_init_values_compatible.test.ts
  src/core/eme/utils/are_init_values_compatible.ts
  src/core/eme/utils/init_data_container.ts
  src/core/eme/utils/init_data_store.ts
  src/core/eme/utils/persistent_sessions_store.ts
  src/core/init/initialize_media_source.ts
  src/core/init/types.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/events_generators.ts
  src/core/stream/representation/representation_stream.ts
  src/core/stream/types.ts
  src/features/types.ts
  src/manifest/index.ts
  src/manifest/manifest.ts
  src/manifest/representation.ts
  src/manifest/representation_index/types.ts
  src/parsers/containers/isobmff/index.ts
  src/parsers/containers/isobmff/take_pssh_out.ts
  src/parsers/manifest/dash/parse_representations.ts
  src/parsers/manifest/local/parse_local_manifest.ts
  src/parsers/manifest/smooth/create_parser.ts
  src/parsers/manifest/smooth/representation_index.ts
  src/parsers/manifest/types.ts
  src/transports/dash/image_pipelines.ts
  src/transports/dash/segment_parser.ts
  src/transports/dash/text_parser.ts
  src/transports/local/segment_parser.ts
  src/transports/local/text_parser.ts
  src/transports/smooth/isobmff/create_audio_init_segment.ts
  src/transports/smooth/isobmff/create_boxes.ts
  src/transports/smooth/isobmff/create_init_segment.ts
  src/transports/smooth/isobmff/create_video_init_segment.ts
  src/transports/smooth/pipelines.ts
  src/transports/smooth/segment_loader.ts
  src/transports/types.ts
  src/utils/__tests__/initialization_segment_cache.test.ts
Labels: EME, Refacto

#919 Only use concerned encryption systemId when found in the Manifest
  src/core/eme/__tests__/init_media_keys.test.ts
  src/core/eme/get_drm_system_id.ts
  src/core/eme/init_media_keys.ts
  src/core/eme/types.ts
  src/core/init/initialize_media_source.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/representation/representation_stream.ts
Labels: DASH, EME, Local Manifest, Perf

#887 Feat/identify seek from inside
  src/core/api/clock.ts
  src/core/api/emit_seek_events.ts
  src/core/api/get_player_state.ts
  src/core/api/public_api.ts
  src/core/init/initial_seek_and_play.ts
  src/core/init/initialize_directfile.ts
  src/core/init/initialize_media_source.ts
  src/core/init/load_on_media_source.ts
  src/core/init/stall_avoider.ts
Labels: API, Needs discussion, enhancement

#932 Misc/revert tizen specific branch
  src/compat/__tests__/when_loaded_metadata.test.ts
  src/compat/index.ts
  src/compat/should_wait_for_seek_validation.ts
  src/compat/when_loaded_metadata.ts
  src/core/init/create_stream_clock.ts
  src/core/init/emit_loaded_event.ts
  src/core/init/initial_seek_and_play.ts
  src/core/init/initialize_directfile.ts
  src/core/init/load_on_media_source.ts
  src/core/init/try_initial_seek.ts
  src/core/init/update_playback_rate.ts
Labels: bug, init

#933 DRM: In a singleLicensePer content mode, blacklist the first kid if not encountered
  src/core/eme/eme_manager.ts
  src/core/stream/adaptation/create_representation_estimator.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
Labels: EME, bug
