Repository canalplus/rx-player, pull requests merged in 2022-05, with the labels that each got.

#1105 Feature / Parse labels for adaptation sets
  .gitignore
  src/core/api/track_choice_manager.ts
  src/manifest/adaptation.ts
  src/parsers/manifest/dash/common/parse_adaptation_sets.ts
  src/parsers/manifest/dash/js-parser/node_parsers/AdaptationSet.ts
  src/parsers/manifest/dash/node_parser_types.ts
  src/parsers/manifest/types.ts
Labels: DASH, Performance checks, Priority: 2 (Medium)

#1108 Add support for percent based thickness for textOutline in TTML Subtitles
  src/parsers/texttracks/ttml/html/generate_css_test_outline.ts
Labels: bug, Compatibility, TTML, Ready for Review, Priority: 0 (Very high)

#1111 Avoid infinite loop due to rounding errors while parsing multi-Periods MPDs
  src/parsers/manifest/dash/common/flatten_overlapping_periods.ts
Labels: bug, DASH, Performance checks, Priority: 0 (Very high)

#1113 DASH: Fix potential infinite rebuffering when a KID is not anounced in the MPD
  src/core/decrypt/content_decryptor.ts
  src/core/decrypt/utils/key_session_record.ts
  src/manifest/representation.ts
  src/parsers/manifest/dash/common/parse_representations.ts
  src/parsers/manifest/types.ts
Labels: bug, DASH, Priority: 1 (High)

#1107 DASH: don't include presentationTimeOffset for the default initial time of a`<S>`
  src/parsers/manifest/dash/common/indexes/timeline/timeline_representation_index.ts
Labels: bug, DASH, Performance checks, Priority: 1 (High)

#1102 Update duration of a content based on the last chosen tracks
  src/core/abr/abr_manager.ts
  src/core/abr/representation_estimator.ts
  src/core/api/public_api.ts
  src/core/init/content_time_boundaries_observer.ts
  src/core/init/create_stream_playback_observer.ts
  src/core/init/duration_updater.ts
  src/core/init/get_initial_time.ts
  src/core/init/load_on_media_source.ts
  src/core/init/media_duration_updater.ts
  src/core/stream/adaptation/adaptation_stream.ts
  src/core/stream/adaptation/create_representation_estimator.ts
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/core/stream/period/period_stream.ts
  src/core/stream/representation/get_buffer_status.ts
  src/core/stream/representation/representation_stream.ts
  src/manifest/__tests__/manifest.test.ts
  src/manifest/manifest.ts
  src/manifest/period.ts
  src/manifest/representation_index/types.ts
  src/parsers/manifest/dash/common/get_minimum_and_maximum_positions.ts
  src/parsers/manifest/dash/common/indexes/base.ts
  src/parsers/manifest/dash/common/indexes/list.ts
  src/parsers/manifest/dash/common/indexes/template.ts
  src/parsers/manifest/dash/common/indexes/timeline/timeline_representation_index.ts
  src/parsers/manifest/dash/common/parse_mpd.ts
  src/parsers/manifest/local/parse_local_manifest.ts
  src/parsers/manifest/metaplaylist/metaplaylist_parser.ts
  src/parsers/manifest/smooth/create_parser.ts
  src/parsers/manifest/types.ts
  src/parsers/manifest/utils/get_maximum_positions.ts
  tests/integration/scenarios/video_thumbnail_loader.js
  tests/integration/utils/launch_tests_for_content.js
Labels: Priority: 1 (High)

#1094 Use the first compatible codec of the current AdaptationSet when creating a SourceBuffer
  src/core/stream/period/period_stream.ts
Labels: bug, Priority: 1 (High)
