Repository canalplus/rx-player, pull requests merged in 2022-03, with the labels that each got.

#1066 directfile: use getStartDate in getWallClockTime when available
  src/core/api/public_api.ts
Labels: DirectFile, Compatibility, Priority: 2 (Medium)

#1078 Fix: add dfxp mime type
  src/parsers/manifest/smooth/create_parser.ts
Labels: bug, Smooth, TTML, Priority: 1 (High)

#1084 Add IBitrateEstimate, IPositionUpdate and IPlayerState types to the API
  doc/api/Typescript_Types.md
  src/core/api/index.ts
  src/core/api/public_api.ts
  src/public_types.ts
Labels: API

#1083 api: allow switching to RELOADING state synchronously after LOADED
  src/core/api/public_api.ts
Labels: bug, API, Performance checks

#1082 DASH: Prioritize `selectionPriority` attribute over a "main" Role when ordering AdaptationSets
  src/parsers/manifest/dash/common/parse_adaptation_sets.ts
  tests/contents/DASH_static_SegmentTimeline/media/multi-AdaptationSets.mpd
  tests/contents/DASH_static_SegmentTimeline/media/multi_period_different_choices.mpd
  tests/contents/DASH_static_SegmentTimeline/media/multi_period_same_choices.mpd
  tests/integration/scenarios/dash_multi-track.js
Labels: DASH, Performance checks

#1081 update dependencies for a v3.27.0
  package-lock.json
  package.json
  src/compat/eme/custom_media_keys/index.ts
  src/parsers/texttracks/webvtt/html/__tests__/create_styled_element.test.ts
Labels: Performance checks

#1080 Fix minor buffer-related problems
  src/config.ts
  src/core/stream/representation/get_needed_segments.ts
  src/default_config.ts
Labels: bug, Stream

#1089 [Proposal] Add "reload" `audioTrackSwitchingMode`
  doc/api/Loading_a_Content.md
  src/core/api/__tests__/option_utils.test.ts
  src/core/api/option_utils.ts
  src/core/init/initialize_media_source.ts
  src/core/stream/index.ts
  src/core/stream/period/get_adaptation_switch_strategy.ts
  src/core/stream/period/index.ts
  src/core/stream/period/period_stream.ts
  src/public_types.ts
Labels: API, proposal

#1093 DRM: await potential pending `generateRequest` and `load` call before closing a MediaKeySession
  src/compat/eme/generate_key_request.ts
  src/core/decrypt/content_decryptor.ts
  src/core/decrypt/create_or_load_session.ts
  src/core/decrypt/create_session.ts
  src/core/decrypt/utils/loaded_sessions_store.ts
  src/default_config.ts
Labels: DRM, Priority: 0 (Very high)
