Repository canalplus/rx-player, pull requests merged in 2024-04, with the labels that each got.

#1416 fix: subtitles blinking in low-latency mode
  src/main_thread/text_displayer/html/__tests__/text_track_cues_store.test.ts
  src/main_thread/text_displayer/html/__tests__/utils.test.ts
  src/main_thread/text_displayer/html/text_track_cues_store.ts
  src/main_thread/text_displayer/html/utils.ts
  src/parsers/containers/isobmff/extract_complete_chunks.ts
  src/transports/dash/low_latency_segment_loader.ts
Labels: bug, DASH, Subtitles, low-latency, Priority: 0 (Very high)

#1424 Update how MINIMUM_SEGMENT_SIZE is used in the SegmentInventory
  src/core/segment_sinks/inventory/segment_inventory.ts
  src/default_config.ts
Labels: bug, DASH, low-latency, Priority: 0 (Very high)

#1428 fix: safari support audio lang "und" in audioTrack
  src/utils/languages/__tests__/normalize.test.ts
  src/utils/languages/normalize.ts
Labels: languages, proposal, Priority: 2 (Medium)
