Repository canalplus/rx-player, pull requests merged in 2024-06, with the labels that each got.

#1443 feature: support absolute path in URL resolution with RFC 3986 implementation.
  src/utils/__tests__/resolve_url.test.ts
  src/utils/resolve_url.ts
Labels: DASH, Priority: 1 (High)

#1439 DASH: Implement Content Protection References
  src/parsers/manifest/dash/common/content_protection_parser.ts
  src/parsers/manifest/dash/common/parse_adaptation_sets.ts
  src/parsers/manifest/dash/common/parse_mpd.ts
  src/parsers/manifest/dash/common/parse_periods.ts
  src/parsers/manifest/dash/common/parse_representations.ts
  src/parsers/manifest/dash/fast-js-parser/node_parsers/ContentProtection.ts
  src/parsers/manifest/dash/fast-js-parser/node_parsers/MPD.ts
  src/parsers/manifest/dash/fast-js-parser/node_parsers/Period.ts
  src/parsers/manifest/dash/native-parser/node_parsers/ContentProtection.ts
  src/parsers/manifest/dash/native-parser/node_parsers/MPD.ts
  src/parsers/manifest/dash/native-parser/node_parsers/Period.ts
  src/parsers/manifest/dash/node_parser_types.ts
  src/parsers/manifest/dash/wasm-parser/rs/events.rs
  src/parsers/manifest/dash/wasm-parser/rs/processor/attributes.rs
  src/parsers/manifest/dash/wasm-parser/ts/generators/ContentProtection.ts
  src/parsers/manifest/dash/wasm-parser/ts/generators/MPD.ts
  src/parsers/manifest/dash/wasm-parser/ts/generators/Period.ts
  src/parsers/manifest/dash/wasm-parser/ts/types.ts
Labels: DASH, DRM, Priority: 1 (High)

#1438 feat:(worker) debug element display buffer in worker mode
  demo/full/scripts/components/BufferContentGraph.tsx
  demo/full/scripts/controllers/charts/BufferContent.tsx
  demo/full/scripts/modules/player/events.ts
  src/core/main/worker/worker_main.ts
  src/core/segment_sinks/inventory/types.ts
  src/core/segment_sinks/segment_buffers_store.ts
  src/main_thread/api/debug/buffer_graph.ts
  src/main_thread/api/debug/modules/segment_buffer_content.ts
  src/main_thread/api/public_api.ts
  src/main_thread/init/directfile_content_initializer.ts
  src/main_thread/init/media_source_content_initializer.ts
  src/main_thread/init/multi_thread_content_initializer.ts
  src/main_thread/init/types.ts
  src/multithread_types.ts
  tests/integration/scenarios/fast-switching.test.js
  tests/utils/checkAfterSleepWithBackoff.js
Labels: Priority: 2 (Medium), MultiThread

#1435 [Proposal] Stop transpiling some builds to ES5
  doc/api/Miscellaneous/MultiThreading.md
  package-lock.json
  package.json
  scripts/build_demo.mjs
  scripts/bundle_worker.mjs
  scripts/generate_build.mjs
  scripts/generate_embeds.mjs
  scripts/run_bundler.mjs
  src/globals.dev.d.ts
  src/globals.prod.d.ts
  src/index.ts
  tests/generate_test_webpack_config.mjs
  tests/integration/scenarios/dash_multi_periods.test.js
  tests/integration/scenarios/dash_static.test.js
  tests/integration/scenarios/idle.test.js
  tests/integration/scenarios/initial_playback.test.js
  tests/integration/scenarios/loadVideo_options.test.js
  tests/integration/utils/launch_tests_for_content.js
  tests/performance/run.mjs
  webpack.config.mjs
Labels: Priority: 0 (Very high)

#1463 Actually rely on `connectionTimeout` on DASH low-latency contents
  src/transports/dash/low_latency_segment_loader.ts
Labels: bug, DASH, low-latency, Priority: 1 (High)

#1462 fix: types and lint on demo
  demo/full/scripts/components/BufferContentGraph.tsx
  demo/full/scripts/controllers/charts/BufferContent.tsx
  demo/full/scripts/modules/player/events.ts
  demo/full/scripts/modules/player/index.ts
Labels: Demo, Priority: 1 (High)

#1466 fix(isobmff): exclude zero-filled keyId from the init segment parsing
  src/parsers/containers/isobmff/utils.ts
Labels: bug, DASH, Priority: 1 (High)

#1474 fix: on chrome display correctly the error message in the console when an error is thrown
  src/errors/custom_loader_error.ts
  src/errors/encrypted_media_error.ts
  src/errors/media_error.ts
  src/errors/network_error.ts
  src/errors/other_error.ts
  src/errors/source_buffer_error.ts
  src/errors/worker_initialization_error.ts
  src/experimental/tools/VideoThumbnailLoader/video_thumbnail_loader_error.ts
  src/main_thread/decrypt/session_events_listener.ts
  src/main_thread/decrypt/utils/check_key_statuses.ts
  src/parsers/manifest/dash/fast-js-parser/node_parsers/utils.ts
  src/parsers/manifest/dash/native-parser/node_parsers/utils.ts
  src/utils/assert.ts
  src/utils/request/request_error.ts
  src/utils/task_canceller.ts
  tests/integration/scenarios/video_thumbnail_loader.test.js
Labels: Priority: 0 (Very high)
