Repository canalplus/rx-player, pull requests merged in 2025-09, with the labels that each got.

#1738 Fix `getPeriodForTime` util
  src/core/stream/orchestrator/stream_orchestrator.ts
  src/manifest/utils.ts
Labels: bug, Priority: 0 (Very high)

#1739 fix(demo): don't set DRM if not selected in the UI
  demo/scripts/controllers/ContentList.tsx
Labels: Demo

#1607 [Proposal] Allow seeking through `seekTo` before the HTMLMediaElement is ready
  demo/scripts/controllers/ProgressBar.tsx
  demo/scripts/modules/player/events.ts
  demo/styles/style.css
  doc/api/Basic_Methods/seekTo.md
  doc/api/Player_States.md
  src/core/main/common/content_time_boundaries_observer.ts
  src/main_thread/api/public_api.ts
  src/main_thread/init/utils/get_initial_time.ts
  src/main_thread/init/utils/initial_seek_and_play.ts
  src/playback_observer/media_element_playback_observer.ts
  tests/integration/scenarios/loadVideo_options.test.js
Labels: API, proposal, Priority: 2 (Medium)
